//colors
$white: rgba(255, 255, 255, 1);
$color_bright_gray_approx: rgba(59, 66, 81, 1);
$black: rgba(0, 0, 0, 1);
$color_azure_radiance_approx: rgba(0, 123, 255, 1);
$color_science_blue_approx: rgba(0, 105, 217, 1);
$color_sunset_orange_approx: rgba(249, 76, 59, 1);
$color_red_orange_50_approx: rgba(249, 59, 42, 0.5);
$color_red_orange_approx: rgba(249, 59, 42, 1);
$color_red_orange_85_approx: rgba(249, 59, 42, 0.85);
$color_shift_red: #FD5959;
$white_35: rgba(255, 255, 255, 0.35);
$white_80: rgba(255, 255, 255, 0.8);
$white_70: rgba(255, 255, 255, 0.7);
$color_vulcan_approx: rgba(13, 20, 29, 1);
$color_gunsmoke_approx: rgba(133, 133, 133, 1);
$black_88: rgba(0, 0, 0, .88);
$wild_sand: rgba(244, 244, 244, 1);
$color_bon_jour_approx: rgba(224, 224, 224, 1);
$gray: rgba(128, 128, 128, 1);
$color_vulcan_80_approx: rgba(13, 20, 29, 0.8);
$color_blue_charcoal_95_approx: rgba(1, 12, 23, .95);
$color_blue_charcoal_approx: rgba(1, 12, 23, 1);
$color_careys_pink_approx: rgba(218, 163, 163, 1);
$red_30: rgba(255, 0, 0, 0.3);
$white_60: rgba(255, 255, 255, 0.6);
$color_chateau_green_approx: rgba(38, 177, 79, 1);
$color_shift_green: #7ACD45;
$white_40: rgba(255, 255, 255, 0.4);
$shift_green: #7ACD45;
$shift_green_subdued: #669656;
$shift_red: #FD5959;
$shift_red_subdued: #964c4e;

// THEME COLOR ORGANIZER
// use these to set and use frequently used colors
$color_1: #191a2a;
$color_2: #FFFFFF;
$color_3: #c8c8c8;
$color_4: #59b8c4;
$color_5: #FD5959;
$color_6: #979797;
$color_7: #1d2023;
$color_8: rgba(23, 23, 24, 0.8);
$color_9: linear-gradient(#33354d, #0c0c14);
$color_10: #33354d;
$color_11: #252637;
$color_12: #0e2947;
$color_13: black;

//fonts
$font_0: 'Maven Pro';
$font_1: 'sans-serif';
$font_2: 'Roboto';
$font_3: 'Didact Gothic';
$font_4: 'Maven Pro';
$font_5: 'sans-serif';
$font_6: 'Didact Gothic';
$font_7: 'Maven Pro';
$font_8: 'sans-serif';
$font_9: 'Didact Gothic';
$font_10: 'Maven Pro';
$font_11: 'sans-serif';
$font_12: 'Didact Gothic';
$font_13: 'Maven Pro';
$font_14: 'sans-serif';
$font_15: 'Didact Gothic';
$font_16: 'Maven Pro';
$font_17: 'sans-serif';
$font_18: 'Didact Gothic';
$font_19: 'Maven Pro';
$font_20: 'sans-serif';
$font_21: 'Roboto';
$font_22: 'Maven Pro';
$font_23: 'sans-serif';
$fontPlayfairDisplay:'Playfair Display', serif;
$defaultFonts: $fontPlayfairDisplay;

//urls
$url_0: url('../images/wires-lighter.png');
$url_1: url('../images/gif/giphy.gif');
$url_2: url('../images/lap-top.jpg');
$url_3: url('../images/glass-code.jpg');

//fonts
// Are all these font variables needed?
$font_0: 'Maven Pro';
$font_1: 'sans-serif';
$font_2: 'Roboto';
$font_3: 'Didact Gothic';
$font_4: 'Maven Pro';
$font_5: 'sans-serif';
$font_6: 'Didact Gothic';
$font_7: 'Maven Pro';
$font_8: 'sans-serif';
$font_9: 'Didact Gothic';
$font_10: 'Maven Pro';
$font_11: 'sans-serif';
$font_12: 'Didact Gothic';
$font_13: 'Maven Pro';
$font_14: 'sans-serif';
$font_15: 'Didact Gothic';
$font_16: 'Maven Pro';
$font_17: 'sans-serif';
$font_18: 'Didact Gothic';
$font_19: 'Maven Pro';
$font_20: 'sans-serif';
$font_21: 'Roboto';
$font_22: 'Maven Pro';
$font_23: 'sans-serif';
$lato: 'Lato';


//font weights
$light: 300;
$normal: 400;
$bold: 700;

$ease-in-quad: cubic-bezier(.55, .085, .68, .53);
$ease-in-cubic: cubic-bezier(.550, .055, .675, .19);
$ease-in-quart: cubic-bezier(.895, .03, .685, .22);
$ease-in-quint: cubic-bezier(.755, .05, .855, .06);
$ease-in-expo: cubic-bezier(.95, .05, .795, .035);
$ease-in-circ: cubic-bezier(.6, .04, .98, .335);

$ease-out-quad: cubic-bezier(.25, .46, .45, .94);
$ease-out-cubic: cubic-bezier(.215, .61, .355, 1);
$ease-out-quart: cubic-bezier(.165, .84, .44, 1);
$ease-out-quint: cubic-bezier(.23, 1, .32, 1);
$ease-out-expo: cubic-bezier(.19, 1, .22, 1);
$ease-out-circ: cubic-bezier(.075, .82, .165, 1);

$ease-in-out-quad: cubic-bezier(.455, .03, .515, .955);
$ease-in-out-cubic: cubic-bezier(.645, .045, .355, 1);
$ease-in-out-quart: cubic-bezier(.77, 0, .175, 1);
$ease-in-out-quint: cubic-bezier(.86, 0, .07, 1);
$ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
$ease-in-out-circ: cubic-bezier(.785, .135, .15, .86);

// Icons for Price table
$verification-icons-color: #34495E;
$verification-font-size: 90px;
$verification-font-size-smaller: 70px;


$btn-underline-color: #fff;

// Logo
$logo-home-section-color: #fff;
$logo-feature-section-color: #fff;
$logo-about-section-color: #fff;
$logo-security-section-color: #fff;
$logo-platform-section-color: #fff;
$logo-contact-section-color: #3b4251;

$logo-home-section-img: '../../images/logos/company-logo-white.png';
$logo-feature-section-img: '../../images/logos/company-logo-white.png';
$logo-about-section-img: '../../images/logos/company-logo-white.png';
$logo-security-section-img: '../../images/logos/company-logo-white.png';
$logo-platform-section-img: '../../images/logos/company-logo-white.png';
$logo-contact-section-img: '../../images/logos/company-logo-white.png';

// need to find proper home for variable
$active-hover-text: #fff;

// Header menu
$header-menu-item-bg: transparent;
$header-menu-item-color: #fff;
$header-menu-item-color-hover: none;
$header-menu-item-border: none;
$header-menu-item-border-hover: none;
$header-menu-item-font-size: 15px;
$header-menu-item-font-family: $defaultFonts;

$header-nav-home-bg: transparent;
$header-nav-features-bg: #272727;
$header-nav-about-bg: #272727;
$header-nav-platform-bg: transparent;
$header-nav-security-bg: transparent;
$header-nav-contact-bg: #0d141d;

// Hamburger button
$hamburger-bg: #fff;
$hamburger-bg-hover: #fff;

// Side menu
$side-menu-bg: #0d141d;
$side-menu-color: #fff;
$side-menu-color-hover: #fff;
$side-menu-font-size: 29px;
$side-menu-font-family: $defaultFonts;

$logo-color-second-part: #fff;


// Side dot nav
$side-dot-nav-home-section-color: #fff;
$side-dot-nav-home-section-border: #fff;
$side-dot-nav-home-section-bg: transparent;

$side-dot-nav-feature-section-color: #272727;
$side-dot-nav-feature-section-border: #272727;
$side-dot-nav-feature-section-bg: transparent;

$side-dot-nav-about-section-color: #272727;
$side-dot-nav-about-section-border: #272727;
$side-dot-nav-about-section-bg: transparent;

$side-dot-nav-platform-section-color: #fff;
$side-dot-nav-platform-section-border: #fff;
$side-dot-nav-platform-section-bg: transparent;

$side-dot-nav-security-section-color: #fff;
$side-dot-nav-security-section-border: #fff;
$side-dot-nav-security-section-bg: transparent;

$side-dot-nav-contact-section-color: #3b4251;
$side-dot-nav-contact-section-border: #3b4251;
$side-dot-nav-contact-section-bg: #fff;

$side-dot-nav-active-home: #fff;
$side-dot-nav-active-feature: #0e2947;
$side-dot-nav-active-about: #0e2947;
$side-dot-nav-active-platform: #fff;
$side-dot-nav-active-security: #fff;
$side-dot-nav-active-contact: #000;

// Scrolling Ticker
$ticker-container-bg: transparent;
$ticker-container-symbol-color: #fff;
$ticker-container-last-trade-color: #fff;
$ticker-container-last-trade-currency-color: #fff;
$ticker-container-high-color: #fff;
$ticker-container-high-high-color: #fff;

// First homepage section
$first-section-h1-color: #fff;
$first-section-h1-font-size: 4em;
$first-section-h1-font-family: $defaultFonts;
$first-section-link-color: #fff;
$first-section-link-btn: none;
$first-section-link-font-size: 1.8em;
$first-section-link-font-family: $defaultFonts;
$first-section-link-border: none;
$first-section-link-border-hover: #fff;
$first-section-image-overlay: rgba(0, 0, 0, .1);

// Section Feature
$home-section-feature-bg: #f5f5f5;
$home-section-feature-title-color: #0e2947;
$home-section-feature-title-underline: transparent;
$home-section-feature-block-bg-hover: rgba(13,20,29,0.8);
$home-section-feature-block-text-color: #727272;
$home-section-feature-block-text-font-size: 1em;
$home-section-feature-icon-color: #fff;
$home-section-feature-image-overlay: rgba(0, 0, 0, .0);
$home-section-feature-block-bg-hover: rgba(255, 255, 255, 1);


// Section About
$home-section-about-title-color: #0e2947;
$home-section-about-title-underline: transparent;
$home-section-about-bg: #f5f5f5;
$home-section-about-block-text-color: #727272;
$home-section-about-block-text-font-size: 1em;
$home-section-about-icon-color: #fff;
$home-section-about-image-overlay: rgba(0, 0, 0, .0);
$home-section-about-block-bg-hover: rgba(255, 255, 255, 1);

// Section Platform
$home-section-platform-bg: #0e2947;
$home-section-platform-title-color: #fff;
$home-section-platform-title-underline: #fff;
$home-section-platform-block-text-color: #f4f4f4;
$home-section-platform-block-text-font-size: 1em;
$home-section-platform-icon-color: #fff;
$home-section-platform-image-overlay: rgba(0, 0, 0, .0);

// Section Security
$home-section-security-title-color: #fff;
$home-section-security-title-underline: #fff;
$home-section-security-block-text-color: #f4f4f4;
$home-section-security-block-text-font-size: 1em;
$home-section-security-icon-color: #fff;
$home-section-security-image-overlay: rgba(0, 0, 0, .7);

// Section Contact
$home-section-contact-bg: #313131;
$home-section-contact-menu-title-color: #fff;
$home-section-contact-menu-title-font-family: $defaultFonts;
$home-section-contact-menu-text-color: #fff;
$home-section-contact-menu-text-color-hover: #0e2947;
$home-section-contact-register-bg: #0d141d;

// Modal
$modal-bg: #fff;
$modal-button-bg: transition;
$modal-button-border: #141414;
$modal-button-color: #141414;
$modal-button-close-color: #141414;
$modal-text-accept: #000;
$modal-text-accept-link: #141414;
$modal-complated-field-color: #26b14f;

// Sign IN/UP pages
$sign-in-up-bg: #181c2a;
$sign-in-up-header-title: #fff;
$sign-in-up-primary-cta-text: #181c2a;
$sign-in-up-primary-cta-bg: #fff;
$sign-in-up-primary-cta-border: #fff;
$sign-in-up-secondary-cta-text: #fff;
$sign-in-up-secondary-cta-bg: #181c2a;


// Inner Page Header Banner Components
$page-title-banner-header-font-family: $defaultFonts;
$page-title-banner-header-font-size: 30px;
$page-title-banner-header: #fff;
$page-title-banner-header-bg: inherit;

$page-title-banner-bg-alpha:#17212e;
$page-title-banner-bg-mu: #444444;
$page-title-banner-bg-omega: #454545;
$page-title-banner-deg-gradient: 310deg;
$page-title-banner-percent: 133%;


// Inner Page Content Components
$inner-page-bg: #fff;

$inner-page-blurb-header-font-family: $defaultFonts;
$inner-page-blurb-header-font-size:	2rem;
$inner-page-blurb-header: #fff;
$inner-page-blurb-header-bg: inherit;

$inner-page-lead-in-blurb-font-family: $defaultFonts;
$inner-page-lead-in-blurb-font-size: 16px;
$inner-page-lead-in-blurb: #000;
$inner-page-lead-in-blurb-bg: inherit;

$inner-page-lead-in-blurb-highlight-font-family: $defaultFonts;
$inner-page-lead-in-blurb-highlight-font-size: 18px;
$inner-page-lead-in-blurb-highlight: #000;
$inner-page-lead-in-blurb-highlight-bg: inherit;


$inner-page-list-item-font-family: $defaultFonts;
$inner-page-list-item-font-size: 17px;
$inner-page-list-item: #292b2c;
$inner-page-list-item-bg: inherit;

$inner-page-list-item-icon-size: 20px;
$inner-page-list-item-icon-bg: inherit;
$inner-page-list-item-icon: #202832;

$inner-page-label-font-family: $defaultFonts;
$inner-page-label-font-size: 18px;
$inner-page-label: #000;
$inner-page-label-bg: inherit;

$inner-page-default-header-font-family: $defaultFonts;
$inner-page-default-header-font-size: 24px;
$inner-page-default-header: #fff;
$inner-page-default-header-bg: inherit;

$inner-page-default-text-font-family: $defaultFonts;
// $inner-page-default-text-font-size: 1.2rem;
$inner-page-default-text-font-size: 14px;
$inner-page-default-text: #454545;
$inner-page-default-text-bg: inherit;


$inner-page-default-link-font-family: $defaultFonts;
// $inner-page-default-link-font-size: .9rem;
$inner-page-default-link-font-size: 14px;

// $inner-page-default-link: #454545;
$inner-page-default-link: $color_shift_green;
$inner-page-default-link-bg: inherit;
// $inner-page-default-link-hover: #454545;
$inner-page-default-link-hover: $color_shift_red;
$inner-page-default-link-bg-hover: inherit;

$inner-page-footer-bg: #000;
$inner-page-footer-color: #fff;

$inner-page-btn-color: #454545;



// Inner Page Table Components
/*
$table-bg:
$table-row-border:
$table-row-label-font-family:
$table-row-label-font-size:
$table-row-label:
$table-row-label-bg:
$table-cell-bg:
$table-cell-primary-text-font-family:
$table-cell-primary-text-font-size:
$table-cell-primary-text:
$table-cell-secondary-text-font-family:
$table-cell-secondary-text-font-size:
$table-cell-secondary-text:
*/

// Wallet fonts
$wallet-font-family: $lato, 'Helevetica Neue', Arial;

// Site Main
$wallet-main-bg: $color_13;

// header
$wallet-header-title: $color_2;
$wallet-content-text: $color_6;
$wallet-header-bg: #000;
$wallet-header-help-link: #fff;
$wallet-header-help-link-hover: $color_6;
$wallet-header-dropdown: #fff;
$wallet-header-dropdown-hover: $color_6;

// wallet side nav
$wallet-side-nav-bg: $color_1;
$wallet-side-nav-item: $color_6;
$wallet-side-nav-item-hover: $color_2;
$wallet-side-nav-item-active: $color_12;
$wallet-my-accounts-border: $color_10;

// wallet page content
$wallet-content-bg: $color_9;
$wallet-content-secondary-header: $color_2;
$wallet-blurb-title-bg: none;
$wallet-blurb-title: #fff;
$wallet-blurb: $color_6;
$wallet-checked-icon--active: #0e5a66;
$wallet-checked-icon--default: #e2e2e2;

// wallet balance tables
$wallet-balance-tables-title: $color_2;
$wallet-balance-tables-border: $color_6;
$wallet-balance-tables-header: $color_2;
$wallet-balance-tables-header-border: $color_2;
$wallet-balance-tables-text: $color_6;
$wallet-balance-page-number: $color_6;

// modal
$wallet-modal-title: #000;
$wallet-modal-thumb-header: #0e5a66;

$wallet-modal-btn: $color_2;
$wallet-modal-btn-bg: $color_12;
$wallet-modal-btn-hover: $color_2;
$wallet-modal-btn-bg-hover: $color_3;

// Wallet buy/sell component
$wallet-toggle-buy-sell-tab: $color_6;
$wallet-toggle-buy-sell-tab-active: $color_2;
$wallet-toggle-buy-sell-tab-line-active: $color_12;;

$wallet-slider-bg--default: $color_2;
$wallet-slider-bg--active: $color_12;

$wallet-buy-sell-option-border: $color_12;
$wallet-buy-sell-option-block-bg: none;
$wallet-buy-sell-option-title-bg: $color_12;
$wallet-buy-sell-option-title: #fff;
$wallet-buy-sell-option-for: $color_6;
$wallet-buy-sell-option-price: $color_2;
$wallet-buy-sell-btn: $color_2;
$wallet-buy-sell-btn-bg: $color_12;
$wallet-buy-sell-btn-hover: $color_6;
$wallet-buy-sell-btn-bg-hover: $color_2;

$wallet-buy-sell-popular-table-title: $color_2;
$wallet-buy-sell-price-bg-slider: $color_12;
$wallet-buy-sell-price-highlight-slider: $color_2;
$wallet-buy-sell-custom-amount-link: $color_2;
$wallet-buy-sell-custom-amount-link-hover: $color_6;

$wallet-buy-sell-custom-input-border: $color_12;
$wallet-buy-sell-custom-amount-input-text: $color_2;

//wallet table titles
$wallet-balance-tables-title: #fff;

// wallet table deposit + withdraw btns
$wallet-balance-deposit-btn: $color_2;
$wallet-balance-deposit-btn-bg: $color_12;
$wallet-balance-deposit-btn-hover: $color_6;
$wallet-balance-deposit-btn-bg-hover: $color_2;
$wallet-balance-withdraw-btn: $color_2;
$wallet-balance-withdraw-btn-bg: $color_12;
$wallet-balance-withdraw-btn-hover: $color_6;
$wallet-balance-withdraw-btn-bg-hover: $color_2;

// wallet settings
$wallet-settings-tables-title: #fff;
$wallet-settings-tables-title-bg: none;

$wallet-settings-reset-password-link: $color_2;
$wallet-settings-reset-password-link-hover: $color_6;

$wallet-settings-tables-btn: $color_2;
$wallet-settings-tables-btn-bg: $color_12;
$wallet-settings-tables-btn-hover: $color_6;
$wallet-settings-tables-btn-bg-hover: $color_2;

$wallet-settings-input-border: $color_2;
$wallet-settings-input-text: $color_2;
$wallet-settings-placeholder-text: $color_2;

$pricing-table-content-bg: $color_1;
$pricing-table-icon-color: $color_2;
$pricing-table-font-size: 50px;

// Advanced Trade UI Colors:

// Font styles
$trade-font-family: $lato, 'Helevetica Neue', Arial;
$trade-font-color: $color_3;

// Body colors
$trade-html-bg: $color_1;
$trade-body-bg: $color_9;

// Header colors
$trade-header-bg: $color_1;
$header-border: $color_8;

// Ticker colors
$trade-header-color: $color_2;

// Widget colors:
$trade-widget-header-bg: $color_1;
$trade-widget-header-bottom-border: $color_8;
$trade-widget-container-bg: $color_1;
$trade-widget-border: $color_7;
$trade-widget-inactive-tab: $color_3;
$trade-widget-active-tab: $color_2;
$trade-widget-responsive-tab-menu-bg: $color_2;
$trade-widget-responsive-tab-menu-item: $color_1;
$trade-widget-responsive-tab-menu-hover-bg: $color_3;

$trade-widget-header-font-size: 14px;
$trade-widget-header-font-color-active: $color_2;
$trade-widget-header-font-color-subdued: $color_3;

$trade-bids-color: $color_4;
$trade-asks-color: $color_5;
$trade-bids-color-subdued: rgba($color_4, 0.85);
$trade-asks-color-subdued: rgba($color_5, 0.85);

$trade-widget-bg-color: $color_1;

$trade-price-chart-button-bg: transparent;
$trade-price-chart-button: #FFF;
$trade-price-chart-sidebar-button: $trade-widget-header-font-color-subdued;
$trade-price-chart-sidebar-button-selected: $trade-widget-bg-color;

$trade-widget-active-order-entry-tab: $color_2;
$trade-zerbra-row-highlight-bg-color: $color_11;
$trade-order-book-table-header-border: $color_10;
$trade-orders-table-header-border: $color_10;
$trade-order-entry-bottom-border: $color_10;
$trade-button-border: $color_12;
$trade-button-bg-hover: $color_2;
$trade-button-font-color-hover: $color_6;
$trade-button-border-hover: $color_1;
$trade-order-entry-text: $color_3;
$trade-account-overview-table-header-border: $color_10;
$trade-row-hover-highlight: $color_10;
$trade-lowest-ask-price-bg: $color_5;
$trade-highest-bid-price-bg: $color_4;
$trade-order-book-actions-text: $color_2;
$trade-order-book-actions-border: $color_2;
$trade-recent-up-tick: $color_4;
$trade-recent-down-tick: $color_5;
$trade-sell-font: $color_5;
$trade-buy-font: $color_4;

// Depth chart colors
$depth-chart-colors: $color_4 $color_5;

// Shift Ticker colors
$trade-shift-ticker: $white;
$trade-shift-ticker-input-border: $white;
$trade-shift-ticker-selected-instrument: $white;
$ticker-price-up-color: $color_4;
$ticker-price-down-color: $color_5;

// Sidebar colors
$trade-sidebar-bg: $color_1;
$trade-sidebar-border: $color_3;
$trade-sidebar-title-bg: $color_1;
$trade-sidebar-item-hover-bg: $color_10;

// Modal colors
$trade-modal-bg: $color_1;
$trade-modal-header-bg: $color_10;
