<div class="align-items-center content-box-container">

  <!-- <div class="row mb-25">
      <div class="col-sm-12">
          <div id="map"></div>
      </div>
  </div> -->
  
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h5 ap-translate="MARKETING.CONTACT.SIGNUP">Sign Up</h5>
      <hr>
      <div class="register-container">
        <div ap-widget="RegisterForm" hide-header hideCancelBtn="true">
            <div class="ap-form-test">

            </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="col-sm-12 col-md-12">
          <h5 ap-translate="MARKETING.CONTACT.CONTACT_TITLE">Contact</h5>
          <hr>
          <a class="footer-link" href="mailto:support@cryptoglobalcapital.com">
              <div class="footer-item">support@cryptoglobalcapital.com</div>
          </a>
          <a href="https://twitter.com/" onclick="return false;">
              <div class="footer-item footer-item--social">
                  <i class="fa fa-twitter social-icon" aria-hidden="true"></i>
                  <span class="social-link">Twitter</span>
              </div>
          </a>
          <a href="https://www.facebook.com/" onclick="return false;">
              <div class="footer-item footer-item--social">
                  <i class="fa fa-facebook social-icon" aria-hidden="true"></i>
                  <span class="social-link">Facebook</span>
              </div>
          </a>
      </div>
      <div class="col-sm-12 col-md-12">
          <h5 ap-translate="MARKETING.CONTACT.SITEMAP_TITLE">Sitemap</h5>
          <hr>
          <!-- <h6 class="footer-item-left">Sitemap |</h6> -->
          <a href="/terms.html" class="sitemap-link" ap-translate="MARKETING.CONTACT.SITEMAP_TERMS">
              Terms
          </a>
          <a href="/privacy.html" class="sitemap-link" ap-translate="MARKETING.CONTACT.SITEMAP_PRIVACY">
              Privacy policy
          </a>
          <a href="/fees.html" class="sitemap-link" ap-translate="MARKETING.CONTACT.SITEMAP_FEES">
              Fees
          </a>
          <a href="/public-api.html" class="sitemap-link only-show-on-desktop" ap-translate="MARKETING.CONTACT.SITEMAP_API">
              API
          </a>
      </div>
      <div class="col-sm-12 col-md-12">
        <h5 ap-translate="MARKETING.CONTACT.LANGUAGES_TITLE">Languages</h5>
        <hr>
        <div ap-widget="ShiftSelectLanguage"></div>
    </div>

      
    </div>
  </div>
</div>
