<div class="header-container">
        <div ap-widget="LoginRequired"></div>

        <div>

            <div class="dropdown pull-right">
                <span ap-widget='Username' hide-header class="ap-userTable"></span>
            </div>
            <a class="pull-right help-link" href="//support.cryptoglobalcapital.com
            " style="margin-top:4px;" ap-translate="HEADER.BASE">Knowledge Base</a>
            <a class="pull-right help-link" href="help.html" style="margin-top:4px;" ap-translate="HEADER.HELP">Help</a>
            

            <!-- <div class="help2-col">1BTC = 31816.99 PHP</div> -->
            <div ap-widget="MarketValue" class="pull-right conversion-values"></div>

        </div>

</div>
<!-- /.container -->
