<nav class="navbar navbar-toggleable-md navbar-inverse" role="navigation">
    <div class="container no-override">
        <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="header-nav" class="col-8 col-sm-3">
            <a href="/" class="navbar-brand-logo-link">
                <img src="images/logos/company-logo-white.png" class="img-fluid navbar-brand-logo">
            </a>
        </div>
        <a href="trade.html" ap-widget="MarketValue" class="navbar-brand market-value"></a>
        <div class="collapse navbar-collapse justify-content-end" id="navbar-collapse">
            <!-- <div ap-widget="ShiftMainNav"></div> -->
        </div>
    </div>
</nav>
