<div id="sidebar" class="sidebar-nav">

    <!-- <div class="logo">
        <a href="home.html">
            <img src="images/logos/company-logo-white.png" alt="Your Company" />

        </a>
    </div> -->

    <a class="sidebar-nav-item" href="home.html"><i class="material-icons">home</i> <span ap-translate="SIDEBAR.MENU_HOME">Home</span></a>
    <a class="sidebar-nav-item" href="buy-sell.html"><i class="material-icons">swap_vertical_circle</i> <span ap-translate="SIDEBAR.MENU_BUY_SELL">Buy / Sell</span></a>
    <!-- <a class="sidebar-nav-item" href="send-request.html"><i class="material-icons">send</i> Send / Request <span id="UserRequestsCount"></span></a> -->
    <a class="sidebar-nav-item" href="my-accounts.html"><i class="material-icons">account_balance_wallet</i> <span ap-translate="SIDEBAR.MENU_MY_ACCOUNTS">My Accounts</span></a>
    <a class="sidebar-nav-item" href="trade.html"><i class="material-icons">insert_chart</i> <span ap-translate="SIDEBAR.MENU_PRO_TRADE">Pro Trade</span></a>
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <a class="collapsed sidebar-nav-item card-header" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        <i class="material-icons">account_balance</i>
                        <span ap-translate="SIDEBAR.BALANCES">Balances</span>
                    </a>
                </h5>
            </div>
            <div id="collapseThree" class="collapse">
                <div class="my-accounts-col sidebar-nav-item">
                    <div ap-widget='UserTable' hide-header class="ap-userTable"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- <a class="sidebar-nav-item" href="deposit-withdraw.html"><i class="material-icons">account_balance</i> Deposit / Withdraw</a> -->
    <a class="sidebar-nav-item" href="settings.html"><i class="material-icons">settings</i> <span ap-translate="SIDEBAR.MENU_SETTINGS">Settings</span></a>
    <a class="sidebar-nav-item" href="help.html"><i class="material-icons">help</i> <span ap-translate="SIDEBAR.MENU_HELP">Help</span></a>
    <a class="sidebar-nav-item" ap-action="Logout" to="index.html" href="#">
        <i class="material-icons">exit_to_app</i> <span ap-translate="SIDEBAR.MENU_LOGOUT">Sign Out</span>
    </a>
</div>


<!-- Better to load this code below here which changes the active highlight in the sidebar...otherwise must run on each page. -->

<script type="text/javascript">
$(function() {
    //console.log("got here");
     var pgurl = window.location.href.substr(window.location.href
.lastIndexOf("/")+1);
     $("#sidebar a").each(function(){
          if($(this).attr("href") == pgurl || $(this).attr("href") == '' )
          $(this).closest('.sidebar-nav-item').addClass("active");
          //console.log("PAGE URL",pgurl);
          //console.log("PAGE URL2",$(this).attr("href"));
          //console.log("PAGE URL CLOSEST",$(this).closest('.buy-sell-col'));
     })
})
</script>
