<div class="sidebar-profile">
    <button class="btn dropdown-toggle" type="button" id="dropdown-profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        MichaelXYZ
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdown-profile">
        <li><a href="#"><i class="material-icons">home</i> <span ap-translate="SIDEBAR.MENU_PRIMARY_WALLET">Primary Wallet</span></a></li>
        <li><a href="#"><i class="material-icons">build</i> <span ap-translate="SIDEBAR.MENU_ADVANCED">Advanced</span></a></li>
        <li><a href="#"><i class="material-icons">settings</i> <span ap-translate="SIDEBAR.MENU_SETTINGS">Settings</span></a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#"><i class="material-icons">power_settings_new</i> <span ap-translate="SIDEBAR.MENU_LOGOUT">Sign Out</span></a></li>
    </ul>
    <a class="help-link" href="help.html"><span ap-translate="SIDEBAR.MENU_HELP">Help</span></a>

</div>

<a class="sidebar-nav-item active" href="home.html"><i class="material-icons">home</i> <span ap-translate="SIDEBAR.MENU_HOME">Home</span></a>
<a class="sidebar-nav-item" href="buy-sell.html"><i class="material-icons">swap_vertical_circle</i> <span ap-translate="SIDEBAR.MENU_BUY_SELL">Buy / Sell</span></a>
<!-- <a class="sidebar-nav-item" href="send-request.html"><i class="material-icons">send</i> <span ap-translate="SIDEBAR.MENU_SEND_REQUEST">Send / Request</span></a> -->
<a class="sidebar-nav-item" href="my-accounts.html"><i class="material-icons">account_balance_wallet</i> <span ap-translate="SIDEBAR.MENU_MY_ACCOUNTS">My Accounts</span></a>
<a class="sidebar-nav-item" href="trade.html"><i class="material-icons">insert_chart</i> <span ap-translate="SIDEBAR.MENU_PRO_TRADE">Pro Trade</span></a>

<div class="my-accounts-col sidebar-nav-item">

    <div ap-widget='UserTable' hide-header class="ap-userTable"></div>

</div>

<!-- <a class="sidebar-nav-item" href="deposit-withdraw.html"><i class="material-icons">account_balance</i> <span ap-translate="SIDEBAR.MENU_DEPOSIT_WITHDRAW">Deposit / Withdraw</span></a> -->
<a class="sidebar-nav-item" href="settings.html"><i class="material-icons">settings</i> <span ap-translate="SIDEBAR.MENU_SETTINGS">Settings</span></a>
<a class="sidebar-nav-item" href="help.html"><i class="material-icons">help</i> <span ap-translate="SIDEBAR.MENU_HELP">Help</span></a>
<a class="sidebar-nav-item" ap-action="Logout" to="index.html" href="#">
    <i class="material-icons">exit_to_app</i> <span ap-translate="SIDEBAR.MENU_LOGOUT">Sign Out</span>
</a>