/*
 * Author: Milan Savov
 * Author URI: milansavov.com
 * Version: 1.0
 * */

/* CUSTOM RESETS
================================================== */

a,
button {
	cursor: pointer;
	transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-webkit-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
}

a:focus,
a:hover {
	outline: 0 none;
	text-decoration: none;
}

/* Form fields */

.form-control {
	height: 40px;
	border: 1px solid rgba(21, 21, 21, 0.538);
	border-radius: 0;
	box-shadow: none;
	font-size: 13px;
}

textarea.form-control {
	height: 140px;
	resize: none;
}

.form-control:focus {
	box-shadow: none;
	border-color: #cf5c65;
}

.form-control::-moz-placeholder {
	color: rgba(21, 21, 21, 0.54);
}

.form-control:-ms-input-placeholder {
	color: rgba(21, 21, 21, 0.54);
}

.form-control::-webkit-input-placeholder {
	color: rgba(21, 21, 21, 0.54);
}

.input-group+.input-group {
	margin-top: 10px;
}

.input-group-addon {
	border-radius: 0;
	/* background-color: #ececec; */
	color: rgba(21, 21, 21, 0.87);
	border: 1px solid rgba(21, 21, 21, 0.537);
	border-right: 0;
	font-size: 13px;
}

/* .table-bordered {
	border: 1px solid #979797;
} */

.table-borderless * {
	border: 0 none !important;
}

/* margin and padding resets */

.pl5 {
	padding-left: 5px;
}

.pr5 {
	padding-right: 5px;
}

.pt10 {
	padding-top: 10px;
}

.m0 {
	margin: 0 !important;
}

.mb20 {
	margin-bottom: 20px !important;
}

.mb30 {
	margin-bottom: 30px !important;
}

.mb40 {
	margin-bottom: 40px !important;
}

.mb50 {
	margin-bottom: 50px !important;
}

.mt5 {
	margin-top: 5px !important;
}

.mt10 {
	margin-top: 10px !important;
}

.mt15 {
	margin-top: 15px !important;
}

.mt20 {
	margin-top: 20px !important;
}

.mt30 {
	margin-top: 30px !important;
}

.mt50 {
	margin-top: 50px !important;
}

.ml20 {
	margin-left: 20px !important;
}

.p-or {
	font-size: 14px;
	color: #cf5c65;
	font-weight: 500;
	line-height: 1;
	margin: 10px 0;
}

.light-text {
	color: rgba(21, 21, 21, 0.54);
}

.blue-text {
	color: #1E8BC3;
}

/* Buttons */

.ap-modal .btn-action,
.btn-orange {
	height: 40px;
	line-height: 42px;
	border-radius: 40px;
	background-color: #cf5c65;
	border: 0 none;
	padding: 0 30px;
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
	/* box-shadow: 0 3px 0 #cf5c65; */
	margin-left: 2px;
	margin-bottom: 5px;
}

.ap-modal .btn-action:hover,
.btn-orange:hover {
	background-color: #34495E;
	color: #fff;
}

.btn-blue {
	width: 100px;
	height: 40px;
	line-height: 40px;
	border-radius: 100px;
	background-color: #1E8BC3;
	border: 0;
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
	padding: 0;
}

.btn-blue:hover {
	background-color: #0d75aa;
	border: none;
	color: #fff;
}

.deposit-button,
.withdraw-button {
	height: 30px;
	/* line-height: 36px; */
	border-radius: 40px;
	padding: 0;
	border: 0;
	font-size: 13px;
	text-transform: uppercase;
	width: 85px;
	outline: 0 none;
}

.deposit-button {
	background-color: #cf5c65;
	color: #fff;
	/* box-shadow: 0 3px 0 #cf5c65; */
	margin-right: 5px;
}

.withdraw-button {
	background-color: #BFBFBF;
	color: #fff;
	/* box-shadow: 0 3px 0 #a2a2a2; */
}

.ap-modal .btn-action:focus,
.btn-orange:focus,
.ap-modal .btn-action:active,
.btn-orange:active,
.ap-modal .btn-action:hover,
.btn-orange:hover,
.btn.deposit-button:focus,
.btn.deposit-button:active,
.btn.deposit-button:hover {
	background-color: #34495E;
	color: #fff;
	outline: 0;
	/* box-shadow: 0 3px 0 #34495E; */
}

.btn.withdraw-button:focus,
.btn.withdraw-button:active,
.btn.withdraw-button:hover {
	outline: 0;
	background-color: #aaa;
	color: #fff;
	/* box-shadow: 0 3px 0 #a2a2a2; */
}

.btn-small {
	font-size: 15px;
	height: 40px;
	line-height: 40px;
}

/* .btn-shadow {
	box-shadow: 0 3px 0 #196d98;
} */

/*
.deposit-button:hover {
	background-color: #fff;
	border: 1px solid #cf5c65;
	color: #cf5c65;
}

.withdraw-button:hover {
	background-color: #cf5c65;
	border: 1px solid #cf5c65;
	color: #fff;
}
*/

/* Links */

.orange-link {
	color: #cf5c65;
}

.orange-link:hover {
	color: #1E8BC3;
}

/* Tables */

/* .table>tbody>tr>td {
	font-size: 14px;
	padding: 10px 8px;
} */

.pagination a {
	cursor: pointer;
}

/* Titles styling */

.title-blue-bg {
	color: #fff;
	font-size: 15px;
	/* padding: 10px; */
	/* background-color: #1E8BC3; */
	margin: 0 0 25px;
}

.title-bottom-border {
	font-size: 15px;
	color: #1E8BC3;
	padding: 9px 10px;
	margin: 0 0 25px;
	border-bottom: 1px solid rgba(21, 21, 21, 0.538);
}

.p-bottom-border {
	color: #4a4a4a;
	border-bottom: 1px solid #4a4a4a;
	padding: 0 5px 5px;
}

/* Slide Toggle Buttons */

.segmented-control {
	position: relative;
	background-color: #f7f7f7;
	display: inline-block;
	overflow: hidden;
	-webkit-tap-highlight-color: transparent;
	width: 310px;
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
	border-radius: 50px;
	float: right;
	transition: all 0.15s;
	-moz-transition: all 0.15s;
	-webkit-transition: all 0.15s;
	-ms-transition: all 0.15s;
	-o-transition: all 0.15s;
}

.segmented-control>input {
	position: absolute;
	left: -10000px;
	opacity: 0;
}

.segmented-control>input:nth-child(1):checked~label:nth-of-type(1):after,
.segmented-control>input:nth-child(1):checked~label:nth-of-type(1):before {
	opacity: 1;
}

.segmented-control>input:nth-child(1):checked~label:first-of-type:nth-last-of-type(1):after,
.segmented-control>input:nth-child(1):checked~label:first-of-type:nth-last-of-type(1):before,
.segmented-control>input:nth-child(1):checked~label:first-of-type:nth-last-of-type(1)~label:after,
.segmented-control>input:nth-child(1):checked~label:first-of-type:nth-last-of-type(1)~label:before,
.segmented-control>input:nth-child(1):checked~label:first-of-type:nth-last-of-type(2):after,
.segmented-control>input:nth-child(1):checked~label:first-of-type:nth-last-of-type(2):before,
.segmented-control>input:nth-child(1):checked~label:first-of-type:nth-last-of-type(2)~label:after,
.segmented-control>input:nth-child(1):checked~label:first-of-type:nth-last-of-type(2)~label:before,
.segmented-control>input:nth-child(1):checked~label:first-of-type:nth-last-of-type(3):after,
.segmented-control>input:nth-child(1):checked~label:first-of-type:nth-last-of-type(3):before,
.segmented-control>input:nth-child(1):checked~label:first-of-type:nth-last-of-type(3)~label:after,
.segmented-control>input:nth-child(1):checked~label:first-of-type:nth-last-of-type(3)~label:before,
.segmented-control>input:nth-child(1):checked~label:first-of-type:nth-last-of-type(4):after,
.segmented-control>input:nth-child(1):checked~label:first-of-type:nth-last-of-type(4):before,
.segmented-control>input:nth-child(1):checked~label:first-of-type:nth-last-of-type(4)~label:after,
.segmented-control>input:nth-child(1):checked~label:first-of-type:nth-last-of-type(4)~label:before,
.segmented-control>input:nth-child(1):checked~label:first-of-type:nth-last-of-type(5):after,
.segmented-control>input:nth-child(1):checked~label:first-of-type:nth-last-of-type(5):before,
.segmented-control>input:nth-child(1):checked~label:first-of-type:nth-last-of-type(5)~label:after,
.segmented-control>input:nth-child(1):checked~label:first-of-type:nth-last-of-type(5)~label:before,
.segmented-control>input:nth-child(1):checked~label:first-of-type:nth-last-of-type(6):after,
.segmented-control>input:nth-child(1):checked~label:first-of-type:nth-last-of-type(6):before,
.segmented-control>input:nth-child(1):checked~label:first-of-type:nth-last-of-type(6)~label:after,
.segmented-control>input:nth-child(1):checked~label:first-of-type:nth-last-of-type(6)~label:before {
	left: 0%;
}

.segmented-control>input:disabled:nth-child(2)~label:nth-of-type(2) {
	opacity: 0.3;
	cursor: not-allowed;
}

.segmented-control>input:nth-child(2):checked~label:nth-of-type(2):after,
.segmented-control>input:nth-child(2):checked~label:nth-of-type(2):before {
	opacity: 1;
}

.segmented-control>input:nth-child(2):checked~label:first-of-type:nth-last-of-type(2):after,
.segmented-control>input:nth-child(2):checked~label:first-of-type:nth-last-of-type(2):before,
.segmented-control>input:nth-child(2):checked~label:first-of-type:nth-last-of-type(2)~label:after,
.segmented-control>input:nth-child(2):checked~label:first-of-type:nth-last-of-type(2)~label:before {
	left: 50%;
}

.segmented-control>input:nth-child(2):checked~label:first-of-type:nth-last-of-type(3):after,
.segmented-control>input:nth-child(2):checked~label:first-of-type:nth-last-of-type(3):before,
.segmented-control>input:nth-child(2):checked~label:first-of-type:nth-last-of-type(3)~label:after,
.segmented-control>input:nth-child(2):checked~label:first-of-type:nth-last-of-type(3)~label:before {
	left: 33.33333%;
}

.segmented-control>input:nth-child(2):checked~label:first-of-type:nth-last-of-type(4):after,
.segmented-control>input:nth-child(2):checked~label:first-of-type:nth-last-of-type(4):before,
.segmented-control>input:nth-child(2):checked~label:first-of-type:nth-last-of-type(4)~label:after,
.segmented-control>input:nth-child(2):checked~label:first-of-type:nth-last-of-type(4)~label:before {
	left: 25%;
}

.segmented-control>input:nth-child(2):checked~label:first-of-type:nth-last-of-type(5):after,
.segmented-control>input:nth-child(2):checked~label:first-of-type:nth-last-of-type(5):before,
.segmented-control>input:nth-child(2):checked~label:first-of-type:nth-last-of-type(5)~label:after,
.segmented-control>input:nth-child(2):checked~label:first-of-type:nth-last-of-type(5)~label:before {
	left: 20%;
}

.segmented-control>input:nth-child(2):checked~label:first-of-type:nth-last-of-type(6):after,
.segmented-control>input:nth-child(2):checked~label:first-of-type:nth-last-of-type(6):before,
.segmented-control>input:nth-child(2):checked~label:first-of-type:nth-last-of-type(6)~label:after,
.segmented-control>input:nth-child(2):checked~label:first-of-type:nth-last-of-type(6)~label:before {
	left: 16.66667%;
}

.segmented-control>input:disabled:nth-child(3)~label:nth-of-type(3) {
	opacity: 0.3;
	cursor: not-allowed;
}

.segmented-control>input:nth-child(3):checked~label:nth-of-type(3):after,
.segmented-control>input:nth-child(3):checked~label:nth-of-type(3):before {
	opacity: 1;
}

.segmented-control>input:nth-child(3):checked~label:first-of-type:nth-last-of-type(3):after,
.segmented-control>input:nth-child(3):checked~label:first-of-type:nth-last-of-type(3):before,
.segmented-control>input:nth-child(3):checked~label:first-of-type:nth-last-of-type(3)~label:after,
.segmented-control>input:nth-child(3):checked~label:first-of-type:nth-last-of-type(3)~label:before {
	left: 66.66667%;
}

.segmented-control>input:nth-child(3):checked~label:first-of-type:nth-last-of-type(4):after,
.segmented-control>input:nth-child(3):checked~label:first-of-type:nth-last-of-type(4):before,
.segmented-control>input:nth-child(3):checked~label:first-of-type:nth-last-of-type(4)~label:after,
.segmented-control>input:nth-child(3):checked~label:first-of-type:nth-last-of-type(4)~label:before {
	left: 50%;
}

.segmented-control>input:nth-child(3):checked~label:first-of-type:nth-last-of-type(5):after,
.segmented-control>input:nth-child(3):checked~label:first-of-type:nth-last-of-type(5):before,
.segmented-control>input:nth-child(3):checked~label:first-of-type:nth-last-of-type(5)~label:after,
.segmented-control>input:nth-child(3):checked~label:first-of-type:nth-last-of-type(5)~label:before {
	left: 40%;
}

.segmented-control>input:nth-child(3):checked~label:first-of-type:nth-last-of-type(6):after,
.segmented-control>input:nth-child(3):checked~label:first-of-type:nth-last-of-type(6):before,
.segmented-control>input:nth-child(3):checked~label:first-of-type:nth-last-of-type(6)~label:after,
.segmented-control>input:nth-child(3):checked~label:first-of-type:nth-last-of-type(6)~label:before {
	left: 33.33333%;
}

.segmented-control>input:disabled:nth-child(4)~label:nth-of-type(4) {
	opacity: 0.3;
	cursor: not-allowed;
}

.segmented-control>input:nth-child(4):checked~label:nth-of-type(4):after,
.segmented-control>input:nth-child(4):checked~label:nth-of-type(4):before {
	opacity: 1;
}

.segmented-control>input:nth-child(4):checked~label:first-of-type:nth-last-of-type(4):after,
.segmented-control>input:nth-child(4):checked~label:first-of-type:nth-last-of-type(4):before,
.segmented-control>input:nth-child(4):checked~label:first-of-type:nth-last-of-type(4)~label:after,
.segmented-control>input:nth-child(4):checked~label:first-of-type:nth-last-of-type(4)~label:before {
	left: 75%;
}

.segmented-control>input:nth-child(4):checked~label:first-of-type:nth-last-of-type(5):after,
.segmented-control>input:nth-child(4):checked~label:first-of-type:nth-last-of-type(5):before,
.segmented-control>input:nth-child(4):checked~label:first-of-type:nth-last-of-type(5)~label:after,
.segmented-control>input:nth-child(4):checked~label:first-of-type:nth-last-of-type(5)~label:before {
	left: 60%;
}

.segmented-control>input:nth-child(4):checked~label:first-of-type:nth-last-of-type(6):after,
.segmented-control>input:nth-child(4):checked~label:first-of-type:nth-last-of-type(6):before,
.segmented-control>input:nth-child(4):checked~label:first-of-type:nth-last-of-type(6)~label:after,
.segmented-control>input:nth-child(4):checked~label:first-of-type:nth-last-of-type(6)~label:before {
	left: 50%;
}

.segmented-control>input:disabled:nth-child(5)~label:nth-of-type(5) {
	opacity: 0.3;
	cursor: not-allowed;
}

.segmented-control>input:nth-child(5):checked~label:nth-of-type(5):after,
.segmented-control>input:nth-child(5):checked~label:nth-of-type(5):before {
	opacity: 1;
}

.segmented-control>input:nth-child(5):checked~label:first-of-type:nth-last-of-type(5):after,
.segmented-control>input:nth-child(5):checked~label:first-of-type:nth-last-of-type(5):before,
.segmented-control>input:nth-child(5):checked~label:first-of-type:nth-last-of-type(5)~label:after,
.segmented-control>input:nth-child(5):checked~label:first-of-type:nth-last-of-type(5)~label:before {
	left: 80%;
}

.segmented-control>input:nth-child(5):checked~label:first-of-type:nth-last-of-type(6):after,
.segmented-control>input:nth-child(5):checked~label:first-of-type:nth-last-of-type(6):before,
.segmented-control>input:nth-child(5):checked~label:first-of-type:nth-last-of-type(6)~label:after,
.segmented-control>input:nth-child(5):checked~label:first-of-type:nth-last-of-type(6)~label:before {
	left: 66.66667%;
}

.segmented-control>input:disabled:nth-child(6)~label:nth-of-type(6) {
	opacity: 0.3;
	cursor: not-allowed;
}

.segmented-control>input:nth-child(6):checked~label:nth-of-type(6):after,
.segmented-control>input:nth-child(6):checked~label:nth-of-type(6):before {
	opacity: 1;
}

.segmented-control>input:nth-child(6):checked~label:first-of-type:nth-last-of-type(6):after,
.segmented-control>input:nth-child(6):checked~label:first-of-type:nth-last-of-type(6):before,
.segmented-control>input:nth-child(6):checked~label:first-of-type:nth-last-of-type(6)~label:after,
.segmented-control>input:nth-child(6):checked~label:first-of-type:nth-last-of-type(6)~label:before {
	left: 83.33333%;
}

.segmented-control>label {
	display: inline-block;
	height: 40px;
	cursor: pointer;
	float: left;
	font-size: 13px;
	line-height: 40px;
	border-radius: 50px !important;
	font-weight: normal;
	margin-bottom: 0;
}

.segmented-control>label:before,
.segmented-control>label:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	border-radius: 50px !important;
	color: #fff;
}

.segmented-control>label:after {
	content: attr(data-value);
	text-align: center;
	z-index: 10;
	opacity: 0;
	transition: all 0.15s;
	-moz-transition: all 0.15s;
	-webkit-transition: all 0.15s;
	-ms-transition: all 0.15s;
	-o-transition: all 0.15s;
	background-color: #1E8BC3;
}

.segmented-control>label:after,
.segmented-control>label {
	text-align: center;
	overflow: hidden;
}

.segmented-control>label:before {
	content: '';
	background-color: #1E8BC3;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	transition: all 0.15s;
	-moz-transition: all 0.15s;
	-webkit-transition: all 0.15s;
	-ms-transition: all 0.15s;
	-o-transition: all 0.15s;
}

.segmented-control>label:first-of-type:nth-last-of-type(1),
.segmented-control>label:first-of-type:nth-last-of-type(1):after,
.segmented-control>label:first-of-type:nth-last-of-type(1):before,
.segmented-control>label:first-of-type:nth-last-of-type(1)~label,
.segmented-control>label:first-of-type:nth-last-of-type(1)~label:after,
.segmented-control>label:first-of-type:nth-last-of-type(1)~label:before {
	width: 100%;
}

.segmented-control>label:first-of-type:nth-last-of-type(2),
.segmented-control>label:first-of-type:nth-last-of-type(2):after,
.segmented-control>label:first-of-type:nth-last-of-type(2):before,
.segmented-control>label:first-of-type:nth-last-of-type(2)~label,
.segmented-control>label:first-of-type:nth-last-of-type(2)~label:after,
.segmented-control>label:first-of-type:nth-last-of-type(2)~label:before {
	width: 50%;
}

.segmented-control>label:first-of-type:nth-last-of-type(3),
.segmented-control>label:first-of-type:nth-last-of-type(3):after,
.segmented-control>label:first-of-type:nth-last-of-type(3):before,
.segmented-control>label:first-of-type:nth-last-of-type(3)~label,
.segmented-control>label:first-of-type:nth-last-of-type(3)~label:after,
.segmented-control>label:first-of-type:nth-last-of-type(3)~label:before {
	width: 33.33333%;
}

.segmented-control>label:first-of-type:nth-last-of-type(4),
.segmented-control>label:first-of-type:nth-last-of-type(4):after,
.segmented-control>label:first-of-type:nth-last-of-type(4):before,
.segmented-control>label:first-of-type:nth-last-of-type(4)~label,
.segmented-control>label:first-of-type:nth-last-of-type(4)~label:after,
.segmented-control>label:first-of-type:nth-last-of-type(4)~label:before {
	width: 25%;
}

.segmented-control>label:first-of-type:nth-last-of-type(5),
.segmented-control>label:first-of-type:nth-last-of-type(5):after,
.segmented-control>label:first-of-type:nth-last-of-type(5):before,
.segmented-control>label:first-of-type:nth-last-of-type(5)~label,
.segmented-control>label:first-of-type:nth-last-of-type(5)~label:after,
.segmented-control>label:first-of-type:nth-last-of-type(5)~label:before {
	width: 20%;
}

.segmented-control>label:first-of-type:nth-last-of-type(6),
.segmented-control>label:first-of-type:nth-last-of-type(6):after,
.segmented-control>label:first-of-type:nth-last-of-type(6):before,
.segmented-control>label:first-of-type:nth-last-of-type(6)~label,
.segmented-control>label:first-of-type:nth-last-of-type(6)~label:after,
.segmented-control>label:first-of-type:nth-last-of-type(6)~label:before {
	width: 16.66667%;
}

/* LAYOUT
================================================== */

html,
body {
	background: #DADFE1;
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
	color: rgba(21, 21, 21, 0.87);
}

.sep,
.sep-sm {
	background-color: rgba(21, 21, 21, 0.538);
	width: 65%;
	height: 1px;
	margin: 50px 0;
	clear: both;
}

.sep-sm {
	margin: 30px 0 10px;
}

/* HEADER
================================================== */

/* .site-header {
	background: #2574A9;
	height: 275px;
	padding-top: 25px;
} */

/* .logo {
	padding: 0 0 0 18px;
} */

.logo a {
	font-size: 24px;
	line-height: 20px;
	color: #ffffff;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
}

.site-header .btn {
	background: none;
	color: #fff;
	padding: 0;
	outline: 0 none;
	border: 0 none;
	font-size: 13px;
	margin-top: 2px;
}

.site-header .btn:focus {
	background: none;
}

.conversion-values,
.help-link {
	margin-right: 40px;
	color: #fff;
}

.site-header .dropdown.open .btn,
.site-header .dropdown:hover .btn,
.help-link:hover {
	color: #cf5c65;
}

.profile-thumb {
	border: 1px solid #fff;
	border-radius: 30px;
	float: left;
	height: 30px;
	margin-right: 30px;
	position: relative;
	top: -3px;
	width: 30px;
	background: #1E8BC3;
	transition: border-color 0.15s ease-in-out;
	-moz-transition: border-color 0.15s ease-in-out;
	-webkit-transition: border-color 0.15s ease-in-out;
	-o-transition: border-color 0.15s ease-in-out;
	-ms-transition: border-color 0.15s ease-in-out;
}

.site-header .dropdown.open .profile-thumb,
.site-header .dropdown:hover .profile-thumb {
	border-color: #cf5c65;
}

.site-header .dropdown-menu {
	margin-top: 10px;
	min-width: 180px;
}

.site-header .dropdown-menu a {
	padding-top: 6px;
	padding-bottom: 6px;
}

.site-header .dropdown-menu i {
	float: left;
	font-size: 18px;
	margin-right: 10px;
}

/* Dropdown arrow */

.site-header .dropdown-menu:before {
	position: absolute;
	top: -12px;
	left: 75%;
	display: inline-block;
	border-right: 12px solid transparent;
	border-bottom: 12px solid #ccc;
	border-left: 12px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	content: '';
}

.site-header .dropdown-menu:after {
	position: absolute;
	top: -11px;
	left: 75%;
	margin-left: 1px;
	display: inline-block;
	border-right: 11px solid transparent;
	border-bottom: 11px solid #ffffff;
	border-left: 11px solid transparent;
	content: '';
}

/* MAIN
================================================== */

/* .site-main {
	margin: -155px 0 50px;
} */

.site-title {
	padding: 0 0 13px;
	font-size: 48px;
	color: #fff;
	line-height: 30px;
	font-weight: 600;
}

.section-title {
	margin: 0 0 20px;
	font-size: 36px;
	color: #1E8BC3;
	font-weight: 300;
}

/* Content */

.content {
	/* background-color: #ffffff; */
	/* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); */
	padding: 35px 35px 70px;
	overflow: hidden;
	border-radius: 2px;
}

.content>p {
	margin-bottom: 0;
}

/* Services */

.service-item {
	/* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); */
	overflow: hidden;
	position: relative;
	margin-top: 40px;
	transition: box-shadow 0.15s ease-in-out;
	-moz-transition: box-shadow 0.15s ease-in-out;
	-webkit-transition: box-shadow 0.15s ease-in-out;
	-o-transition: box-shadow 0.15s ease-in-out;
	-ms-transition: box-shadow 0.15s ease-in-out;
}

/* .service-item:hover {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
} */

.service-title {
	margin: 0;
	padding: 10px 18px;
	font-size: 15px;
	color: #fff;
	line-height: 1;
	background: #34495E;
}

.service-thumb {
	float: left;
	padding: 60px 50px;
}

.service-content {
	padding: 40px 180px 40px 210px;
}

.service-content p {
	margin: 0;
}

.service-checked {
	position: absolute;
	top: 110px;
	right: 70px;
	font-size: 32px;
}

.service-checked svg {
	width: 55px;
	fill: #c8c8c8;
}

.service-checked a:hover svg,
.service-checked.active svg {
	fill: #1e4c82;
}

.help-text-item {
	padding: 30px;
}

.help-text-item p {
	font-size: 14px;
	margin-bottom: 0;
}

/* Hide widget headers on various pages*/

.ap-balances>.ap-widget>.ap-header,
.ap-trades>.ap-widget>.ap-header,
.ap-userTable>.ap-widget>.ap-header {
	display: none;
}

.account-transactions-table>.ap-widget>.ap-header {
	display: none;
}

/* SIDEBAR
================================================== */

.sidebar {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	background-color: #fff;
	padding: 20px 0;
	min-height: 650px;
	border-radius: 2px;
}

.sidebar-nav-item {
	color: rgba(21, 21, 21, 0.87);
	display: block;
	padding: 10px 24px;
	line-height: 2.5;
	font-size: 15px;
}

/* a.sidebar-nav-item:hover {
	background-color: #f5f5f5;
} */

.sidebar-nav-item i {
	float: left;
	font-size: 20px;
	margin: 7px 36px 0 0;
	transition: color 0.15s ease-in-out;
	-moz-transition: color 0.15s ease-in-out;
	-webkit-transition: color 0.15s ease-in-out;
	-o-transition: color 0.15s ease-in-out;
	-ms-transition: color 0.15s ease-in-out;
}

.sidebar-nav-item.active,
a.sidebar-nav-item.active:hover {
	color: #1E8BC3;
	background-color: transparent;
}

.my-accounts-col {
	/* box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.2), inset 0 -8px 8px -8px rgba(0, 0, 0, 0.2); */
	margin: 20px 0;
	/* background-color: #ececec; */
}

.my-accounts-col ul {
	margin: 0;
}

.my-accounts-col li {
	line-height: 34px;
	padding: 0 15px;
}

.account-transactions-table .table>tbody>tr>td,
table>tbody>tr.ap-widget_ticker>td.pair,
table>tbody>tr.ap-widget_ticker>td.last {
	border: none;
}

.my-accounts-col .table>tbody>tr>td {
	line-height: 2.5;
}

.my-accounts-col .table>tbody>tr>td.last {
	text-align: right;
}

/* PAGES */

/* Styles for buy-sell.html */

.ap-body {
	padding: 0;
}

.ap-title {
	font-size: 2rem;
}

.ap-widget .inner {
	margin-top: 30px;
}

.sidebar-nav-item .ap-widget .inner {
	margin-top: 0;
}

.sidebar-nav-item .ap-widget .table {
	margin-bottom: 0;
	border: 0;
}

.tabs-main {
	position: relative;
}

.tab {
	color: rgba(21, 21, 21, 0.54);
	font-size: 15px;
	padding: 0 20px;
	cursor: pointer;
	font-weight: 600;
	/* border-bottom: 2px solid #c8c8c8; */
	position: relative;
}

.tab.active {
	color: #1E8BC3;
}

/*
.tab.active:before {
	content: "";
	height: 4px;
	width: 100%;
	position: absolute;
	bottom: -3px;
	left: 0;
	background-color: #1E8BC3;
}
*/

.blue-line {
	height: 4px;
	width: 50%;
	position: absolute;
	bottom: -5px;
	left: 0;
	background-color: #1E8BC3;
	transition: left 0.15s ease-in-out;
	-moz-transition: left 0.15s ease-in-out;
	-webkit-transition: left 0.15s ease-in-out;
	-o-transition: left 0.15s ease-in-out;
	-ms-transition: left 0.15s ease-in-out;
}

.tab-first.active~.blue-line {
	left: 0;
}

.tab-second.active~.blue-line {
	left: 50%;
}

.ap-widget .inner select.form-control {
	float: right !important;
	width: 200px;
}

#customAmount {
	color: #cf5c65;
	font-weight: 600;
}

.trading-options {
	margin-top: 50px;
	display: none;
}

.tables-title {
	/* background-color: #1e8bc3; */
	margin-top: 30px;
	padding: 10px;
	color: #fff;
	font-size: 15px;
	font-weight: 500;
	clear: both;
}

.ap-body .tables-title {
	margin-top: 60px;
}

.click-here-action a {
	color: #cf5c65;
}

.click-here-action p {
	margin-bottom: 0;
}

/* Pricing tables */

.pricing-table {
	/* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); */
	text-align: center;
	position: relative;
	margin-top: 50px;
	transition: box-shadow 0.15s ease-in-out;
	-moz-transition: box-shadow 0.15s ease-in-out;
	-webkit-transition: box-shadow 0.15s ease-in-out;
	-o-transition: box-shadow 0.15s ease-in-out;
	-ms-transition: box-shadow 0.15s ease-in-out;
}

.pricing-table-title {
	background: #34495E;
	/* border-bottom: 1px solid #9b9b9b; */
	margin: 0;
	font-size: 15px;
	padding: 10px;
	color: #fff;
}

/* .pricing-table-popular { */

/* .pricing-table:hover {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
} */

.pricing-table-popular>span {
	position: absolute;
	top: -35px;
	left: 0;
	right: 0;
	font-size: 15px;
	color: #cf5c65;
	text-transform: uppercase;
	font-weight: 600;
}

.pricing-table-content {
	padding: 30px;
}

.pricing-table-content object {
	pointer-events: none;
	height: 72px;
}

.pricing-table-for {
	font-size: 15px;
	margin-bottom: 30px;
	color: #1E8BC3;
	line-height: 1;
}

.pricing-table-price {
	font-size: 36px;
	margin-bottom: 30px;
	color: #1E8BC3;
	line-height: 1;
	font-weight: 600;
}

.pricing-table-separator {
	width: 100%;
	height: 2px;
	background-color: #c8c8c8;
	position: relative;
	margin-bottom: 30px;
}

.pricing-table-separator:before {
	content: "";
	position: absolute;
	left: 0;
	top: -1px;
	height: 4px;
	background-color: #cf5c65;
}

.pricing-table-separator-100:before {
	width: 10%;
}

.pricing-table-separator-200:before {
	width: 20%;
}

.pricing-table-separator-500:before {
	width: 50%;
}

.pricing-table-separator-1000:before {
	width: 100%;
}

/* My Account page */

.ap-balances {
	float: left;
	width: 100%;
	margin-bottom: 50px;
}

.ap-widget .table .header {
	font-weight: 500;
	border: 0;
	/* border-bottom: 1px solid rgba(21, 21, 21, 0.538); */
}

.ap-balances .row {
	line-height: 40px;
}

.ap-balances small {
	display: none;
}

/* .ap-balances .inner>.col-xs-12:hover {
	background-color: #f5f5f5;
} */

.table-div-headings {
	border-bottom: 1px solid rgba(21, 21, 21, 0.538);
	margin-bottom: 10px;
	padding: 0 15px;
}

.table-div-headings>.row>div {
	line-height: 1.2;
}

/* Send / Receive */

.send-request-page .table>tbody>tr>td {
	line-height: 1;
	font-size: 13px;
	vertical-align: middle;
}

td.borderless {
	border: 0 none !important;
}

.send-request-page .table-bordered>tbody>tr>td {
	border: 0 none;
	border-bottom: 1px solid rgba(21, 21, 21, 0.538);
	height: 40px;
}

.send-receive-text {
	color: rgba(21, 21, 21, 0.54);
	margin-bottom: 0;
	padding: 0 10px;
	margin-top: 44px;
}

.send-receive-text.mt20 {
	margin-top: 20px;
}

.send-request-page .btn-orange {
	margin-top: 12px;
}

/* Settings */

.on-off-switcher {
	width: 152px;
}

.limit-panel-progress {
	width: 100%;
	height: 11px;
	clear: both;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e8bc3+0,9bbce5+100 */
	background: #1e8bc3;
	/* Old browsers */
	background: -moz-linear-gradient(left, #1e8bc3 0%, #9bbce5 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left, #1e8bc3 0%, #9bbce5 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #1e8bc3 0%, #9bbce5 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e8bc3', endColorstr='#9bbce5', GradientType=1);
	/* IE6-9 */
}

/* Modals */

.ap-modal {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.5);
}

/* .ap-modal_inner {
	height: auto;
	margin: 0px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 96%;
	max-height: 100%;
	overflow: auto;
	overflow: hidden;
	position: absolute;
	background: #fff;
	padding: 30px 40px;
	width: 750px !important;
	min-width: auto;
	max-width: 750px;
} */

.modal.in .modal-dialog {
	width: 700px !important;
}

.modal.in .modal-dialog.ap-modal_inner {
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

.modal.in .modal-body {
	padding: 0;
}

.modal.in .img-content {
	margin-top: 30px;
}

.modal.in .img-content object,
.modal.in .img-content img {
	height: 72px;
	margin-bottom: 20px;
}

div.service-thumb>object,
div.service-thumb img,
.pricing-table-content img,
.pricing-table-content object,
img.step-icon {
	width: 86px;
	height: unset;
}

.modal.in .img-thumb {
	color: #1E8BC3;
	font-weight: 600;
	font-size: 16px;
}

.modal-paragraph {
	margin-top: 30px;
	margin-bottom: 0;
}

.btn-modal {
	text-transform: uppercase;
	width: 200px;
	height: 35px;
	margin: 30px 0 0 0;
	font-size: 16px;
}

@media only screen and (max-width: 767px) {
	.modal.in {
		margin: 10px 0;
	}
	.modal.in .modal-dialog {
		max-width: 460px !important
	}
	.modal.in .img-content object {
		margin-bottom: 0px;
	}
}

@media only screen and (max-width: 479px) {
	.modal.in .modal-dialog {
		max-width: 300px !important
	}
}

.ap-modal_inner .ap-header span {
	font-size: 36px;
	color: #1E8BC3;
	display: block;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(21, 21, 21, 0.538);
	margin-bottom: 30px;
}

.ap-modal_inner .pad p,
.modal .pad p {
	font-size: 14px;
}

.ap-modal .btn-danger,
.ap-modal label {
	display: none;
}

.ap-modal .form-control {
	border: 1px solid rgba(21, 21, 21, 0.538);
	box-shadow: none;
	height: 40px;
}

.ap-modal textarea.form-control {
	height: 200px;
}

.ap-modal .ap-widget .inner select.form-control {
	width: 100%;
	margin-bottom: 20px;
}

/* .ap-modal .form-control:focus {
	border-color: #cf5c65;
} */

.ap-modal .ap-header-actions-btn-close {
	position: absolute;
	right: 30px;
	top: 30px;
	font-size: 28px;
	cursor: pointer;
}

.modal.in .ap-header-actions-btn-close {
	position: absolute;
	top: 10px;
	font-size: 28px;
	cursor: pointer;
}

.blue-gradient {
	background: #5f9be3;
	/* Old browsers */
	background: -moz-linear-gradient(left, #5f9be3 0%, #53a0fd 52%, #9bbce5 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left, #5f9be3 0%, #53a0fd 52%, #9bbce5 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #5f9be3 0%, #53a0fd 52%, #9bbce5 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f9be3', endColorstr='#9bbce5', GradientType=1);
	/* IE6-9 */
	width: 100%;
	height: 40px;
	color: #fff;
	line-height: 40px;
	text-align: center;
}

.modal-left {
	width: 600px;
	padding: 0 10px;
	margin-right: 40px;
	float: left;
}

.modal-right {
	width: 360px;
	padding: 0 10px;
	float: right;
}

/* RESPONSIVE */

@media only screen and (max-width: 991px) {
	.site-main>.container {
		position: relative;
	}
	/* .logo {
		padding-left: 35px;
	} */
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.pricing-table-content {
		padding: 15px;
	}
	.pricing-table-btn {
		padding: 0 20px;
	}
	.sidebar-nav-item {
		padding: 10px 15px;
	}
	.sidebar-nav-item i {
		margin-right: 15px;
	}
	.tab {
		font-size: 17px;
		padding: 0 10px;
	}
}

/* Small Devices */

@media only screen and (max-width: 767px) {
	.xs-mt-0 {
		margin-top: 0 !important;
	}
	.xs-mt-20 {
		margin-top: 20px !important;
	}
	.content {
		padding: 20px 20px 30px;
	}
	.site-title {
		font-size: 32px;
	}
	.section-title {
		font-size: 24px;
	}
	.service-item {
		margin-top: 20px;
	}
	.service-thumb {
		width: 130px;
		padding: 30px 25px;
	}
	.service-thumb object {
		max-width: 100%;
	}
	.service-content {
		padding: 25px 110px 25px 130px;
	}
	.service-checked {
		font-size: 24px;
		right: 25px;
		top: 75px;
	}
	.segmented-control {
		float: left !important;
		clear: both;
		margin-top: 25px;
	}
	.send-receive-text {
		margin: 20px 0 30px;
	}
	.help-text-item {
		padding: 15px;
	}
	.tab {
		padding: 0 7px;
	}
	.segmented-control {
		max-width: 100%;
	}
	.segmented-control>label {
		font-size: 12px;
	}
	.col-sm-5.pr5 {
		padding-right: 15px;
		margin-bottom: 20px;
	}
	.col-sm-7.pl5 {
		padding-left: 15px;
	}
	.ap-modal_inner {
		padding: 20px 25px;
	}
	.ap-modal_inner .ap-header span {
		font-size: 24px;
	}
	.ap-modal h3 {
		font-size: 16px;
	}
	.ap-modal .ap-header-actions-btn-close {
		right: 15px;
		top: 15px;
	}
}

@media only screen and (max-width: 479px) {
	.service-thumb {
		float: none;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
	}
	.service-content {
		padding: 130px 15px 100px;
	}
	.service-checked {
		bottom: 20px;
		left: 0;
		margin: auto;
		right: 0;
		text-align: center;
		top: auto;
	}
}

/* Sidebar on mobiles */

.device-sidebar {
	position: absolute;
	top: -98px;
	left: 5px;
}

.btn-slide {
	background: transparent;
	border: 0;
	margin: 0;
}

.btn-slide .icon-bar {
	background-color: #fff;
	width: 20px;
}

.navbar-toggle .icon-bar+.icon-bar {
	margin-top: 3px;
}

.btn-slide:hover {
	background: transparent;
}

.sidebar-profile {
	display: none;
	width: 100%;
	margin-bottom: 20px;
}

.sidebar-profile .btn {
	background-color: transparent;
	margin: 20px 0;
	width: 100%;
	color: #1E8BC3;
}

.sidebar-profile .profile-thumb {
	margin: 0;
	float: none;
	left: 50%;
	margin-bottom: 20px;
	color: #1E8BC3;
	font-weight: bold;
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}

.sidebar-profile .help-link {
	margin: 0 auto;
	border-top: 1px solid rgba(21, 21, 21, 0.538);
	padding: 10px;
	font-size: 12px;
	text-align: center;
	display: block;
	width: 150px;
	color: rgba(21, 21, 21, 0.87);
}

.sidebar-menu {
	position: fixed;
	z-index: 200;
	background-color: #fff;
	transition: transform 0.25s;
	-moz-transition: -moz-transform 0.25s;
	-webkit-transition: -webkit-transform 0.25s;
	-ms-transition: -ms-transform 0.25s;
	-o-transition: -o-transform 0.25s;
}

.sidebar-menu-slide-left {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

@media all and (min-width: 320px) {
	.sidebar-menu-slide-left {
		width: 270px;
	}
}

.sidebar-menu-slide-left {
	top: 0;
	left: 0;
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
}

@media all and (min-width: 320px) {
	.sidebar-menu-slide-left {
		-webkit-transform: translateX(-300px);
		-ms-transform: translateX(-300px);
		transform: translateX(-300px);
	}
}

.sidebar-menu-slide-left.is-active {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}

.sidebar-mask {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 0;
	height: 0;
	background-color: #000;
	opacity: 0;
	transition: opacity 0.25s, width 0s 0.25s, height 0s 0.25s;
	-moz-transition: opacity 0.25s, width 0s 0.25s, height 0s 0.25s;
	-webkit-transition: opacity 0.25s, width 0s 0.25s, height 0s 0.25s;
	-ms-transition: opacity 0.25s, width 0s 0.25s, height 0s 0.25s;
	-o-transition: opacity 0.25s, width 0s 0.25s, height 0s 0.25s;
}

.sidebar-mask.is-active {
	width: 100%;
	height: 100%;
	opacity: 0.7;
	transition: opacity 0.25s, width 0s 0.25s, height 0s 0.25s;
	-moz-transition: opacity 0.25s, width 0s 0.25s, height 0s 0.25s;
	-webkit-transition: opacity 0.25s, width 0s 0.25s, height 0s 0.25s;
	-ms-transition: opacity 0.25s, width 0s 0.25s, height 0s 0.25s;
	-o-transition: opacity 0.25s, width 0s 0.25s, height 0s 0.25s;
}

@media all and (max-width: 991px) {
	.device-sidebar .navbar-toggle {
		display: block;
	}
}

/* Popover
*/

.popover {
	width: 307px;
	border-radius: 4px;
	font-size: 13px;
}

.popover-title {
	background-color: #fff;
	border-bottom: 1px solid #e5e5e5;
	font-weight: 600;
}

.inner .note {
	color: rgba(21, 21, 21, 0.87);
}

.inner .note:hover {
	color: #23527c;
}

#welcome-modal {
	display: block;
	background-color: rgba(0, 0, 0, 0.5);
}

#welcome-modal .ap-modal_inner {
	width: 700px !important;
}

.spinner {
	margin-top: 5px;
	-webkit-animation: rotator 1.4s linear infinite;
	animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(270deg);
		transform: rotate(270deg);
	}
}

@keyframes rotator {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(270deg);
		transform: rotate(270deg);
	}
}

.path {
	stroke-dasharray: 187;
	stroke-dashoffset: 0;
	-webkit-transform-origin: center;
	transform-origin: center;
	-webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
	animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
	0% {
		stroke: #000;
	}
	25% {
		stroke: #000;
	}
	50% {
		stroke: #000;
	}
	75% {
		stroke: #000;
	}
	100% {
		stroke: #000;
	}
}

@keyframes colors {
	0% {
		stroke: #000;
	}
	25% {
		stroke: #000;
	}
	50% {
		stroke: #000;
	}
	75% {
		stroke: #000;
	}
	100% {
		stroke: #000;
	}
}

@-webkit-keyframes dash {
	0% {
		stroke-dashoffset: 187;
	}
	50% {
		stroke-dashoffset: 46.75;
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
	}
	100% {
		stroke-dashoffset: 187;
		-webkit-transform: rotate(450deg);
		transform: rotate(450deg);
	}
}

@keyframes dash {
	0% {
		stroke-dashoffset: 187;
	}
	50% {
		stroke-dashoffset: 46.75;
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
	}
	100% {
		stroke-dashoffset: 187;
		-webkit-transform: rotate(450deg);
		transform: rotate(450deg);
	}
}

.dead-link,
.dead-link:hover {
	background: #bfbfbf !important;
	box-shadow: 0 3px 0 #a2a2a2 !important;
}

.bootstrap-growl {
	position: fixed !important;
}

/* DROP DOWN subject to revision*/

.wrapper-dropdown-5 {
	/* Size & position */
	position: relative;
	/*width: 200px;*/
	margin: 0 auto;
	padding: 12px 15px;
	/* Styles */
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	cursor: pointer;
	outline: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.wrapper-dropdown-5:after {
	/* Little arrow */
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	top: 50%;
	right: 15px;
	margin-top: -3px;
	border-width: 6px 6px 0 6px;
	border-style: solid;
	border-color: #4cbeff transparent;
}

.wrapper-dropdown-5 .dropdown {
	/* Size & position */
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	/* Styles */
	background: #fff;
	border-radius: 0 0 5px 5px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-top: none;
	border-bottom: none;
	list-style: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	/* Hiding */
	max-height: 0;
	overflow: hidden;
}

.wrapper-dropdown-5 .dropdown li {
	padding: 0 0;
}

.wrapper-dropdown-5 .dropdown li a {
	display: block;
	text-decoration: none;
	color: #333;
	padding: 10px 0;
	transition: all 0.3s ease-out;
	border-bottom: 1px solid #e6e8ea;
}

.wrapper-dropdown-5 .dropdown li:last-of-type a {
	border: none;
}

.wrapper-dropdown-5 .dropdown li i {
	margin-right: 5px;
	color: inherit;
	vertical-align: middle;
}

/* Hover state */

.wrapper-dropdown-5 .dropdown li:hover a {
	color: #57a9d9;
	background-image: url('../img/copy.png');
	background-repeat: no-repeat;
	background-position: 30% 50%;
}

/* Active state */

.wrapper-dropdown-5.active {
	border-radius: 5px 5px 0 0;
	background: #4cbeff;
	box-shadow: none;
	border-bottom: none;
	color: white;
}

.wrapper-dropdown-5.active:after {
	border-color: #82d1ff transparent;
}

.wrapper-dropdown-5.active .dropdown {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	max-height: 400px;
}

.confirm-modal div {
	margin-top: 15px !important;
}

#confirm {
	height: auto;
	margin: 0px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 55%;
	max-height: 100%;
	overflow: hidden;
	position: absolute;
	background: #fff;
	padding: 30px 40px;
}

div.error-block {
	font-size: 18px;
	color: red;
}

.withdraw-confirm p {
	font-size: 20px !important;
}

.verify-mitek-button {
	position: relative;
	top: -6px;
}

.limit-header {
	font-weight: bold;
}

.limit-hr {
	margin-top: 10px !important;
	margin-bottom: 20px !important;
	border: 0 !important;
	border-top: 1px solid rgba(21, 21, 21, 0.538) !important;
}

.send-request-note {
	overflow: hidden;
	text-overflow: ellipsis;
}

#UserRequestsCount {
	float: right;
	border: 1px solid;
	padding: 0 8px;
	border-radius: 35%;
	line-height: 21px;
	margin-top: 7px;
}

/* widgets@1.0.10 */

.ap-modal label.error {
	position: absolute;
	display: block;
	color: lightcoral;
}

.try-again-btn,
.confirm-close-btn {
	position: absolute;
	padding: 15px 22px;
	background: #0ea920;
	color: white;
	border-radius: 2px;
	border: 1px solid white;
	display: block;
	width: auto;
	text-align: center;
	margin: 0 auto;
	top: 50%;
	left: 50%;
	-webkit-transition: all .15s ease-in;
	-moz-transition: all .15s ease-in;
	transition: all .15s ease-in;
	transform: translateX(-50%) translateY(-50%);
}

.try-again-btn {
	background: rgba(0, 89, 153, 0.816);
}

.try-again-btn:hover {
	background: #005999;
}

.confirm-close-btn:hover {
	background: #09981a;
}

.loader-container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9998;
	background: rgba(255, 255, 255, 0.5);
}

.loader-container-confirm {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9998;
	background: rgb(255, 255, 255);
}

.loader {
	color: #82d1ff;
	font-size: 90px;
	text-indent: -9999em;
	z-index: 9999;
	overflow: hidden;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	margin: 72px auto;
	position: relative;
	top: calc(50% - 1.5em);
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
	animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
	0% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	5%,
	95% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	10%,
	59% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
	}
	20% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
	}
	38% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
	}
	100% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
}

@keyframes load6 {
	0% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	5%,
	95% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	10%,
	59% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
	}
	20% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
	}
	38% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
	}
	100% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
}

@-webkit-keyframes round {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes round {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/* widgets@1.0.39 */

.danger-bdr {
	border: 1px solid lightcoral
}

/* widgets@1.0.41 */

.try-again-btn,
.confirm-close-btn {
	padding: 15px 22px;
	background: #0ea920;
	box-shadow: unset;
	color: white;
	border-radius: 2px;
	border: 1px solid white;
	-webkit-transition: all 0.15s ease-in;
	-moz-transition: all 0.15s ease-in;
	transition: all 0.15s ease-in;
}

.try-again-btn {
	background: rgba(0, 89, 153, 0.816);
}

.try-again-btn:hover {
	background: #005999;
}

.confirm-close-btn:hover {
	background: #09981a;
}

/* widgets@1.0.46 */

.btn[disabled] {
	pointer-events: none;
}

/* widgets@1.0.50 */

.sub-title {
	font-size: 16px;
}

/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 */

.pika-single {
	z-index: 9999;
	display: block;
	position: relative;
	color: #333;
	background: #fff;
	border: 1px solid #ccc;
	border-bottom-color: #bbb;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
clear child float (pika-lendar), using the famous micro clearfix hack
http://nicolasgallagher.com/micro-clearfix-hack/
*/

.pika-single:before,
.pika-single:after {
	content: " ";
	display: table;
}

.pika-single:after {
	clear: both
}

.pika-single {
	*zoom: 1
}

.pika-single.is-hidden {
	display: none;
}

.pika-single.is-bound {
	position: absolute;
	box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .5);
}

.pika-lendar {
	float: left;
	width: 240px;
	margin: 8px;
}

.pika-title {
	position: relative;
	text-align: center;
}

.pika-label {
	display: inline-block;
	*display: inline;
	position: relative;
	z-index: 9999;
	overflow: hidden;
	margin: 0;
	padding: 5px 3px;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	background-color: #fff;
}

.pika-title select {
	cursor: pointer;
	position: absolute;
	z-index: 9998;
	margin: 0;
	left: 0;
	top: 5px;
	filter: alpha(opacity=0);
	opacity: 0;
}

.pika-prev,
.pika-next {
	display: block;
	cursor: pointer;
	position: relative;
	outline: none;
	border: 0;
	padding: 0;
	width: 20px;
	height: 30px;
	/* hide text using text-indent trick, using width value (it's enough) */
	text-indent: 20px;
	white-space: nowrap;
	overflow: hidden;
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 75% 75%;
	opacity: .5;
	*position: absolute;
	*top: 0;
}

.pika-prev:hover,
.pika-next:hover {
	opacity: 1;
}

.pika-prev,
.is-rtl .pika-next {
	float: left;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
	*left: 0;
}

.pika-next,
.is-rtl .pika-prev {
	float: right;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
	*right: 0;
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
	cursor: default;
	opacity: .2;
}

.pika-select {
	display: inline-block;
	*display: inline;
}

.pika-table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border: 0;
}

.pika-table th,
.pika-table td {
	width: 14.285714285714286%;
	padding: 0;
}

.pika-table th {
	color: #999;
	font-size: 12px;
	line-height: 25px;
	font-weight: bold;
	text-align: center;
}

.pika-button {
	cursor: pointer;
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	border: 0;
	margin: 0;
	width: 100%;
	padding: 5px;
	color: #666;
	font-size: 12px;
	line-height: 15px;
	text-align: right;
	background: #f5f5f5;
}

.pika-week {
	font-size: 11px;
	color: #999;
}

.is-today .pika-button {
	color: #33aaff;
	font-weight: bold;
}

.is-selected .pika-button,
.has-event .pika-button {
	color: #fff;
	font-weight: bold;
	background: #33aaff;
	box-shadow: inset 0 1px 3px #178fe5;
	border-radius: 3px;
}

.has-event .pika-button {
	background: #005da9;
	box-shadow: inset 0 1px 3px #0076c9;
}

.is-disabled .pika-button,
.is-inrange .pika-button {
	background: #D5E9F7;
}

.is-startrange .pika-button {
	color: #fff;
	background: #6CB31D;
	box-shadow: none;
	border-radius: 3px;
}

.is-endrange .pika-button {
	color: #fff;
	background: #33aaff;
	box-shadow: none;
	border-radius: 3px;
}

.is-disabled .pika-button {
	pointer-events: none;
	cursor: default;
	color: #999;
	opacity: .3;
}

.is-outside-current-month .pika-button {
	color: #999;
	opacity: .3;
}

.is-selection-disabled {
	pointer-events: none;
	cursor: default;
}

.pika-button:hover,
.pika-row.pick-whole-week:hover .pika-button {
	color: #fff;
	background: #ff8000;
	box-shadow: none;
	border-radius: 3px;
}

/* styling for abbr */

.pika-table abbr {
	border-bottom: none;
	cursor: help;
}

/* Widget Update 1.0.62 */

/* KYC Progress Bar */

.progress-bar-container {
	width: 570px;
	margin: 0 auto;
	display: inline-block;
	margin-left: 15px;
	padding-bottom: 25px;
}

.progressbar {
	counter-reset: step -1;
}

.progressbar li {
	list-style-type: none;
	width: 25%;
	float: left;
	font-size: 12px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	color: #7d7d7d;
}

.progressbar li:before {
	width: 30px;
	height: 30px;
	content: counter(step);
	counter-increment: step;
	line-height: 30px;
	border: 2px solid #7d7d7d;
	display: block;
	text-align: center;
	margin: 0 auto 10px auto;
	border-radius: 50%;
	background-color: white;
}

.progressbar li:after {
	width: 100%;
	height: 2px;
	content: '';
	position: absolute;
	background-color: #7d7d7d;
	top: 15px;
	left: -50%;
	z-index: -1;
}

.progressbar li:first-child:after {
	content: none;
}

.progressbar li.pass-level {
	color: green;
}

.progressbar li.pass-level:before {
	border-color: #55b776;
}

.progressbar li.pass-level+li:after {
	background-color: #55b776;
}

.progressbar li.under-review-level {
	color: #FFD700;
}

.progressbar li.under-review-level:before {
	border-color: #FEDD00;
}

.progressbar li.under-review-level+li:after {
	background-color: #FEDD00;
}

/* widgets@1.0.68 */

.ap-modal label.ap-input-label,
.ap-modal label.ap-datepicker-label,
.ap-modal .ap-select-country_of_origin label,
.ap-modal .ap-select-billing_country label,
.ap-modal .input-billingCountry label,
.ap-modal .input-BillingCountry label {
	position: relative;
	display: block;
	width: 100%;
	margin-bottom: 10px;
}

.ap-modal .ap-select-billing_country label select {
	margin-bottom: 5px !important;
}

.form-control.ap-datepicker-input,
.ap-input {
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding-left: 4px;
	padding-top: 20px;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	border: 1px solid #d2d2d2
}

.input-dob {
	position: relative;
}

.ap-datepicker-label {
	width: 100%
}

.form-control.ap-select-input {
	height: 40px;
	font-size: 14px;
	font-weight: 500;
	border: 1px solid #d2d2d2;
}

.datepicker-label-text,
.label-text {
	position: absolute;
	width: 94%;
	top: 1px;
	left: 4px;
	overflow: hidden;
	color: rgba(0, 0, 0, 0.3);
	font-size: 11px;
	font-weight: 500;
	white-space: nowrap;
	letter-spacing: 1px;
}

.select-label-text {
	position: absolute;
	left: 4px;
	top: -14px;
	font-size: 11px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.3);
	white-space: nowrap;
	letter-spacing: 1px;
}

.ap-input-focused .ap-input,
.ap-input-focused .datepicker-label-text,
.ap-input-focused .select-label-text {
	outline: none;
	transition: .15s all linear;
	-o-transition: .15s all linear;
	-moz-transition: .15s all linear;
	-webkit-transition: .15s all linear;
}

.ap-input-focused .label-text,
.ap-input-focused .datepicker-label-text,
.ap-input-focused .select-label-text {
	color: #3c7db6;
}

.ap-input-error {
	color: red;
	font-size: 11px;
	display: block;
	position: absolute;
	top: 41px;
}

span.text-center>button.btn.btn-action {
	margin: 0 auto;
	display: block;
	margin-bottom: 8px;
	margin-top: 20px;
}

.ap-modal_inner .pad span.text-center>p {
	font-size: 12px;
}

.form-group.col-xs-4.kyc-input-inline>label {
	width: 100%;
}

.verification-required-message {
	color: #444;
}

.pagi {
	display: inline-flex !important;
	list-style-type: none !important;
}

.pagi li {
	padding: 2px !important
}

/* .pagi li.active>a {
	font-weight: bold
} */

/* .pagi li>a {
	color: #3b3b3b;
} */

.container-kyc-submit {
	margin-left: 15px;
}

.file-drop-area {
	position: relative;
	display: flex;
	align-items: center;
	width: 450px;
	max-width: 100%;
	padding: 35px;
	border: 1px dashed rgb(19, 57, 84);
	border-radius: 3px;
	transition: 0.2s;
	margin: 10px;
}

.file-drop-area.is-active {
	background-color: rgba(255, 255, 255, 0.05);
}

.choose-file-btn {
	cursor: pointer;
	flex-shrink: 0;
	background-color: rgba(51, 122, 183, 0.85);
	border: 1px solid rgba(51, 122, 183, 0.85);
	border-radius: 3px;
	padding: 8px 15px;
	margin-right: 10px;
	font-size: 12px;
	text-transform: uppercase;
	color: white;
	-o-transition: all .1s ease-in;
	-moz-transition: all .1s ease-in;
	-webkit-transition: all .1s ease-in;
	transition: all .1s ease-in;
}

.file-drop-area:hover>.choose-file-btn {
	background-color: #337ab7;
	border-color: #337ab7;
}

.file-msg {
	font-size: small;
	font-weight: 300;
	line-height: 1.4;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.file-input {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	cursor: pointer;
	opacity: 0;
}

.file-input:focus {
	outline: none;
}
