@mixin font-styling($family, $size, $color, $bg) {
  font-family: $family;
  font-size: $size;
  color: $color;
  background: $bg;
}

@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

@import '../variables';

/* modules */
@import "../custom/modules/mixins";
@import "../custom/modules/custom_effects";

/* bootstrap overrides */
@import "../bootstrap/overrides";

@import './inner-pages';
@import './sign-in-up';

/* HEADERV */

body {
  font-family: $defaultFonts;
}
.loggedin {
  #login {
    display: none;  
  }
}

.dot-nav {
  display: none;
}

.btn {
  &.underline {
    &:hover {
      &:after {
        background: $btn-underline-color;
      }
    }
  }
}
.nav {
  z-index: 300;
  .logo {
    .logo-img {
        width: 75px;
        height: 75px;
        display: inline-block;
        vertical-align: middle;
        background-size: contain;
    }
  }
  #hamburger {
    &:hover {
      span {
        background: $hamburger-bg-hover;
      }
    }
    span {
      background: $hamburger-bg; // !important
    }
  }
  .menu-wrapper {
    background: $side-menu-bg;
    .menu-item {
      a {
        &:hover {
          color: $side-menu-color-hover;
        }
        span {
          font-family: $defaultFonts;
        }
      }
    } 
  }
}
.body-home-section {
  .nav {
    background: $header-nav-home-bg;
  }
  .nav-inner-container {
    min-height: 120px;
  }
  .logo {
    // display: none;
    h1  {
      color: $logo-home-section-color;
      .logo-img {
        background: url($logo-home-section-img);
        background-size: contain;
      }
    }
  }
  .dot-nav {
      li {
        border-color: $side-dot-nav-home-section-color;
        color: $side-dot-nav-home-section-border;
        background: $side-dot-nav-home-section-bg;
        &.active-dot {
          border-color: $side-dot-nav-active-home; // !important
          background: $side-dot-nav-active-home; // !important
          span.active-hover-text {
            color: $side-dot-nav-active-home; // !important
          }
        }
        span {
          color: $side-dot-nav-home-section-border;
        }
      }
  } 
} 
.body-features-section {
  .nav {
    background: $header-nav-features-bg;
    .logo {
      h1 {
        color: $logo-feature-section-color;
        .logo-img {
          background: url($logo-feature-section-img);
          background-size: contain;
        }
      }
    }
  }
  .dot-nav {
    li {
      border-color: $side-dot-nav-feature-section-color;
      color: $side-dot-nav-feature-section-border;
      background: $side-dot-nav-feature-section-bg;
      &.active-dot {
        border-color: $side-dot-nav-active-feature; // !important
        background: $side-dot-nav-active-feature; // !important
        span.active-hover-text {
          color: $side-dot-nav-active-feature; // !important
        }
      }
      span {
        color: $side-dot-nav-feature-section-border;
      }
    }
  }
} 
.body-about-section {
  .nav {
    background: $header-nav-about-bg;
    .logo {
      h1 {
        color: $logo-about-section-color;
        .logo-img {
          background: url($logo-about-section-img);
          background-size: contain;
        }
      }
    }
  }
  .dot-nav {
    li {
      border-color: $side-dot-nav-about-section-color;
      color: $side-dot-nav-about-section-border;
      background: $side-dot-nav-about-section-bg;
      &.active-dot {
        border-color: $side-dot-nav-active-about; // !important
        background: $side-dot-nav-active-about; // !important
        span.active-hover-text {
          color: $side-dot-nav-active-about; // !important
        }
      }
      span {
        color: $side-dot-nav-about-section-border;
      }
    }
  }
}
.body-platform-section {
  .nav {
    background: $header-nav-platform-bg;
    .logo {
      h1 {
        color: $logo-platform-section-color;
        .logo-img {
          background: url($logo-platform-section-img);
          background-size: contain;
        }
      }
    }
  }
  .dot-nav {
    li {
      border-color: $side-dot-nav-platform-section-color;
      color: $side-dot-nav-platform-section-border;
      background: $side-dot-nav-platform-section-bg;
      &.active-dot {
        border-color: $side-dot-nav-active-platform; // !important
        background: $side-dot-nav-active-platform; // !important
        span.active-hover-text {
          color: $side-dot-nav-active-platform; // !important
        }
      }
      span {
        color: $side-dot-nav-platform-section-border;
      }
    }
  }
}
.body-security-section {
  .nav {
    background: $header-nav-security-bg;
    .logo {
      h1 {
        color: $logo-security-section-color;
        .logo-img {
          background: url($logo-security-section-img);
          background-size: contain;
        }
      }
    }
  }
  .dot-nav {
    li {
      border-color: $side-dot-nav-security-section-color;
      color: $side-dot-nav-security-section-border;
      background: $side-dot-nav-security-section-bg;
      &.active-dot {
        border-color: $side-dot-nav-active-security; // !important
        background: $side-dot-nav-active-security; // !important
        span.active-hover-text {
          color: $side-dot-nav-active-security; // !important
        }
      }
      span {
        color: $side-dot-nav-security-section-border;
      }
    }
  }
}
.body-contact-section {
  .nav {
    background: $header-nav-contact-bg;
    .logo {
      h1 {
        color: $logo-contact-section-color;
        .logo-img {
          background: url($logo-contact-section-img);
          background-size: contain;
        }
      }
    }
  }
  .dot-nav {
    // z-index: 102;
    li {
      border-color: $side-dot-nav-contact-section-color;
      color: $side-dot-nav-contact-section-border;
      background: $side-dot-nav-contact-section-bg;
      &.active-dot {
        border-color: $side-dot-nav-active-contact; // !important
        background: $side-dot-nav-active-contact; // !important
        span.active-hover-text {
          color: $side-dot-nav-active-contact; // !important
        }
      }
      span {
        color: $side-dot-nav-contact-section-border;
      }
    }
  }
  .register-container {
    padding: 0;
  }
}

.point {
  color: $logo-color-second-part;
}

#register a, #login a, #signup a {
  font-size: $header-menu-item-font-size;
  border: initial;
  color: $header-menu-item-color;
}

#register a:hover, #login a:hover, #signup a:hover {
  border: initial;
}

#register,
.shift-reset-password {
  .terms-and-conditions,
  .privacy-policy {
    width: 600px;
  }
  #registerForm {
    min-width: 270px;
  }
  .input--custom {
    display: block;
    clear: both;
    position: relative;
    overflow: initial;
  }
  .password-rules {
    // z-index: 99999;
      // margin-top: 20px;
      text-align: center;
      position: absolute;
      /* top: -100%; */
      bottom: 110%;
      box-shadow: 1px 1px 1px 1px #888888;
      color: $black;
      background: $white;
      border-radius: 10px;
      padding: 5px 15px;
      /* left: 50%; */
  }
}
.shift-reset-password {
  position: relative;
  .password-rules {
    bottom: 100%;
  }
}

.clip-wrap {
  color: $side-menu-color-hover;
}

.section-home-img {
  max-height: 22vw;
  max-width: 100%;
}

#home {
  height: 100vh;
  padding: 0;
  &:before {
    background-image: none;
  }
  .headline {
    color: $first-section-h1-color;
    font-family: $defaultFonts;
  }
  .btn {
    color: $first-section-link-color;
  }
  .image--overlay {
    background: $first-section-image-overlay;
    padding: 10% 0;
  }
}
.features {
  background: $home-section-feature-bg;
  padding: 0;
  .headline {
    color: $home-section-feature-title-color;
  }
  .title-hr {
    background: $home-section-feature-title-underline;
    border-top: 7px solid $home-section-feature-title-underline;
  }
  h5, h4, p {
    color: $home-section-feature-block-text-color;
  }
  .feat-list-content {
    &:hover {
      background: $home-section-feature-block-bg-hover;
    }
    .content-icon {
      .cls-1 {
        fill: $home-section-feature-icon-color;
      }
    }
  }
  .image--overlay {
    background: $home-section-feature-image-overlay;
  }
}
.platform {
  padding: 0;
  height: auto;
  min-height: initial;
  background-color: $home-section-platform-bg;
  h1 {
    font-size: 29px;
  }
  h4 {
    font-size: 24px;
  }
  .image--overlay {
    background: $home-section-platform-image-overlay;
  }
  p {
    color: $home-section-platform-block-text-color;
    font-size: 18px;
  }
  .headline {
    color: $home-section-platform-title-color;
  }
  .title-hr {
    color: $home-section-platform-title-underline;
  }
  h5, h4, p {
    color: $home-section-platform-block-text-color;
  }
  .register-btn {
    padding: 10px 15px;
    border-radius: 25px;
    background: #fff;
    max-width: 180px;
    color: #0e2947;
    font-size: 18px;
    margin-top: 30px;
    letter-spacing: 0;
  }
}
.security {
  padding: 0;
  h1 {
    font-size: 29px;
  }
  h4 {
    font-size: 24px;
  }
  .image--overlay {
    background: $home-section-platform-image-overlay;
  }
  p {
    color: $home-section-security-block-text-color;
    font-size: 14px;
  }
  .headline {
    color: $home-section-security-title-color;
  }
  .title-hr {
    color: $home-section-security-title-underline;
  }
  h5, h4, p {
    color: $home-section-security-block-text-color;
  }
}
.image--overlay {
  background: rgba(0, 0, 0, .5);
  padding: 10%; 
  padding-top: 110px; 
  padding-bottom: 110px;
  width: 100%;
}
.about {
  padding: 0;
  background: $home-section-about-bg;
  .about-list-content {
    &:hover {
      background: $home-section-about-block-bg-hover;
    }
  }
  .headline {
    color: $home-section-about-title-color;
  }
  .title-hr {
    background: $home-section-about-title-underline;
    border-top: 7px solid $home-section-about-title-underline;
  }
  h5, h4, p {
    color: $home-section-about-block-text-color;
  }
  .about-list {
    .content-icon {
      .cls-1 {
        fill: $home-section-about-icon-color;
      }
    }
  }
  .image--overlay {
    background: $home-section-about-image-overlay;
  }
}

#contact {
  background: $home-section-contact-bg;
  min-height: auto;
  padding: 4%;
  .contact-logo-container {
    display: flex;
    align-items: center;
    .contact-logo-img {
      max-width: 40%;
      margin-left: 10%;
    }
  }
  h5 {
    color: $home-section-contact-menu-title-color;
  }
}
.social-link {
  margin-left: 0;
  color: $home-section-contact-menu-text-color;
  &:hover {
    color: $home-section-contact-menu-text-color-hover;
  }
} .sitemap-link {
  color: $home-section-contact-menu-text-color;
  &:hover {
    color: $home-section-contact-menu-text-color-hover;
  }
} 
.footer-link {
  color: $home-section-contact-menu-text-color;
  &:hover {
    color: $home-section-contact-menu-text-color-hover;
  }
}
.language-lists {
  list-style: none;
  padding: 0;
  margin: 0;
  .language-link {
    cursor: pointer;
  }
}

.register-modal {
  background: rgba(1, 12, 23, .95);
    border: 10px solid rgb(1, 12, 23);
    opacity: 0;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: -100%;
    height: 100%;
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 201;
    visibility: collapse;
}

.modal-open {
  .nav {
    z-index: 102;
  }
  .register-modal {
    background: rgba(1, 12, 23, .95);
    border: 10px solid rgb(1, 12, 23);
    opacity: 0;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: -100%;
    height: 100%;
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 201;
    visibility: collapse;
    .close-register {
      display: block;
    }
  } 
}

.select-language {
  .btn {
    font-size: $header-menu-item-font-size;
    border: 1px solid $header-menu-item-border;
    color: $header-menu-item-color;
    background: transparent;
    line-height: 12px;
    border-radius: 2px;

  }
  .dropdown-item {
    cursor: pointer;
    &:hover {
      border-top: 2px solid transparent;
      padding-top: 3px;
    }
  }
  .show {
    .btn {
      font-size: $header-menu-item-font-size;
      border: 1px solid $header-menu-item-border;
      color: $header-menu-item-color;
      background: transparent;
      box-shadow: none;
    }
  }
}

#ticker-container {
  position: absolute;
  bottom: 5vw;
  height: 20vh;;
  background-color: $ticker-container-bg;
  .ticker {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    white-space: nowrap;
    -ms-flex-pack: space-evenly;
    width: 85%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    div {
      font-family: $defaultFonts;
    }
  }
  .ticker-symbol {
    color: $ticker-container-symbol-color;
  }
  .ticker-last-trade {
    color: $ticker-container-last-trade-color;
    .currency {
      color: $ticker-container-last-trade-currency-color;
    }
  }
  .ticker-rolling {
    display: none;
  }
  .ticker-session-high {
    color: $ticker-container-high-color;
    .high {
      color: $ticker-container-high-high-color;
    }
  }
} 

.g-recaptcha {
  transform: scale(0.9);
  display: flex; 
  justify-content: center;
}

.password-rules {
  color: $white;
}

#register,
.shift-reset-password {
  .accept-box {
    padding: 0 3em;
    color: $white;
    a {
      border: none;
      padding: 0;
      font-weight: bold;
      color: $white;
    }
  }
}

.shift-reset-password {
  .accept-box {
    padding-top: 10px;
    input {
      margin-right: 10px;
    }
  }
}


// Responsive rules
@media screen and (max-width: 768px) {
  .menu-item {
    font-size: 24px;
    margin-bottom: 20px;
    .clip-wrap {
        display: none;
    }
  }
  .features,
  .about {
    h5.subtitle {
      font-size: 2em;
    }
    p {
      font-size: 1.4em;
    }
  } 
  .content-icon {
    height: 80px;
  }
}

.nav-items-container {
  .nav-items {
    a {
      font-family: $defaultFonts;
    }
  }
}