@import './depth-chart';
@import '../variables';

// *********
// * Fonts *
// *********

@font-face {
  font-family: $lato;
  src: url('../../fonts/lato/Lato-Light.ttf');
  font-weight: $light;
  font-style: normal;
}
@font-face {
  font-family: $lato;
  src: url('../../fonts/lato/Lato-Regular.ttf');
  font-weight: $normal;
  font-style: normal;
}
@font-face {
  font-family: $lato;
  src: url('../../fonts/lato/Lato-Bold.ttf');
  font-weight: $bold;
  font-style: normal;
}

// *****************
// * Layout Styles *
// *****************

@media screen and (min-width: 64em) {
    .col-md-6 {
        max-width: 49%;
    }
}

html {
  background: $trade-html-bg;
}

body {
  font-family: $trade-font-family;
  font-weight: $light;
  color: $trade-font-color;
}

.trade-page {
  background: $trade-body-bg;
  min-height: 100vh;
  .ui-container {
    width: auto;
    max-width: 1550px;
  }
  #affurl {
    font-size: 1em !important;
  }
}

.mobile-ui {
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    height: calc(100vh - 47px);
    .mobile-nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 50px;
        background-color: $trade-widget-header-bg;
        color: $trade-widget-active-tab;
        z-index: 5;
        border-top: 1px solid $trade-shift-ticker-input-border;
        span {
            cursor: pointer;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
            padding: 5px 0;
            border-bottom: 2px solid transparent;
            border-top: 2px solid transparent;
            &.active {
                border-bottom: 2px solid $shift_green;
            }
        }
    }
    .mobile-content {
        flex: 1;
        height: calc(100% - 50px);
        display: flex;
        flex-direction: column;
    }
    .widget-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        border-radius: 0;
        .widget-header {
            border-radius: 0px;
            height: 30px;
            padding-top: 0px;
            align-items: center;
            border-bottom: 1px solid $trade-shift-ticker-input-border;
            .ui-elements {
                display: none;
            }
            .widget-tabs {
                width: 100%;
                justify-content: space-around;
                align-items: center;
                li {
                    border-top: 1px solid transparent;
                    border-bottom: 1px solid transparent;
                    &.active {
                        border-bottom: 1px solid $shift_green;
                    }
                }
            }
            .responsive-tabs-menu-icon {
                color:  $shift_green;
                font-size: 17px;
                padding: 0 5px;
            }
            .responsive-tabs-menu-container {
                .arrow-up {
                    right: 12px;
                }
                .responsive-tabs-menu {
                    right: 5px;
                }
            }
        }
        .widget-contents {
            flex: 1;
            height: calc(100% - 30px);
            overflow-y: auto;
            overflow-x: hidden;
            .ap-widget {
                height: 100%;
                margin-bottom: 0;
                .ap-body {
                    height: 100%;
                }
            }
            .pagi {
                font-size: 20px;
                letter-spacing: 3px;
            }
            .order-book {
                height: 100%;
                margin: -10px;
                padding-top: 10px;
                #bookHolder {
                    min-height: auto;
                    max-height: calc(100% - 25px - 33px - 33px);
                    padding-top: 0;
                }
            }
            .selectable-ticker {
                .ticker-input {
                    position: inherit;
                    padding: 5px;
                    justify-content: center;
                    p {
                        position: inherit;
                    }
                }
                .ticker-instruments {
                    height: auto;
                    font-size: 14px;
                    .ticker-row {
                        padding: 12px;
                    }
                }
            }
        }
    }
}

#advancedOrdersModal {
    .row {
        &:nth-of-type(1) {
            div {
                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
        &:nth-of-type(2) {
            .form-group {
                min-width: 50%;
                max-width: 50%;
                margin-bottom: 0;
                input {
                    color: $trade-font-color;
                }
            }
            .exchange-buy-sell-error-message {
                left: 10px !important;
                bottom: auto !important;
                font-size: 10px !important;
            }
        }
    }
    .place-order-btn {
        width: 100%;
        height: 100%;
        text-align: center;
        white-space: normal;
        padding: 5px;
    }
}

// *****************
// * Header Styles *
// *****************

header {
  margin-bottom: 15px;
  @media screen and (max-width: 600px) {
      margin-bottom: 0;
  }
  padding: 0 15px;
  background-color: $trade-header-bg;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid $header-border;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  ul {
      list-style-type: none;
  }
  .header-left-col {
      display: flex;
      align-items: center;
      width: 80%;
      li {
          align-items: center;
          margin-right: 20px;
          &:first-of-type {
              margin-right: 10px;
          }
          &:nth-of-type(2){
              display: flex;
              align-items: center;
          }
      }
      .logo-link {
        .logo {
            height: 35px;
            margin-top: 2px;
        }
        @media screen and (max-width: 767px) {
            display: none;
        }
      }
      .icon-link {
        .logo-icon {
            height: 35px;
            padding: 0px 10px;
        }
        @media screen and (min-width: 768px) {
            display: none;
        }
      }
 
      .instrument-dropdown {
          display: flex;
          align-items: center;
          font-size: .8em;
          font-weight: bold;
          white-space: nowrap;
          margin-left: -3px;
      }
      .ticker-wrapper {
          white-space: nowrap;
          display: flex;
          margin-left: 10px;
          .last-price,
          .day-stat {
              margin-right: 12.5%;
          }
      }
  }
  .header-right-col {
      display: flex;
      justify-content: flex-end;
      width: 20%;
      .user-menu-container {
          font-size: .8em;
          margin-top: 15px;
          white-space: nowrap;
      }
      .register-container,
      .login-container {
          position: relative;
          top: 12px;
          right: 5px;
          .signin {
              display: block;
              max-width: 80px;
          }
      }
      .menu-hamburger {
          margin-top: 12px;
          margin-left: 15px;
      }
  }
  .current-instrument {
    h3 {
      font-size: 1.5em;
      font-weight: bold;
      margin-top: 1px;
      cursor: default;
      color: $trade-header-color;
    }
  }
}

// ******************
// * Sidebar Styles *
// ******************

.sidebar {
  z-index: 15;
  background-color: $trade-sidebar-bg;
  .menu-hamburger-close {
    opacity: 0;
    transition: 0.25s opacity;
    margin: 0;
  }
  .title {
    background-color: $trade-sidebar-title-bg;
    line-height: 47px;
    border-bottom: none;
  }
  &.isOpen {
    background-color: $trade-sidebar-bg;
    position: fixed;
    border-left: 1px solid $trade-sidebar-border;
    .menu-hamburger-close {
      opacity: 1;
    }
    .nav {
      li {
        a:hover {
          background-color: $trade-sidebar-item-hover-bg;
        }
      }
    }
  }
}

// ****************
// * Modal Styles *
// ****************

.ap-modal_inner {
  background: $trade-modal-bg;
  border-radius: 20px;
  .required {
    .label-text::after,
    .datepicker-label-text::after {
        content: ' *';
        color: rgba(red, 0.6);
    }
  }
  button {
    // margin: 15px auto;
    background: none;
    border: 2px solid $trade-button-border;
    padding: 0 20px;
    &:hover {
      color: $trade-button-font-color-hover;
      background: $trade-button-bg-hover;
      border-color: $trade-button-border-hover;
    }
  }
  .ap-header {
    background: $trade-modal-header-bg;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 20px 20px 0 0;
    .ap-title {
      display: inline;
    }
    .ap-header-actions-btn-close {
      visibility: visible;
      margin-top: 4px;
      margin-right: 4px;
    }
  }
  .ap-datepicker-label {
    width: 100%;
    cursor: default;
    transition: 0.25s all;
    &:hover,
    &:focus-within {
        .datepicker-label-text::before {
            opacity: 1;
            width: 15px;
            transition: 0.25s all;
        }
    }
    .datepicker-label-text {
        &::before {
            content: '\25bc';
            opacity: 0;
            width: 0px;
            display: inline-block;
            transition: 0.25s all;
        }
    }
    input {
        cursor: inherit;
    }
  }
}

// ***************************
// * Widget Container Styles *
// ***************************

.widget-container {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    background-color: $trade-widget-container-bg;
    border-radius: 20px;
    .widget-header {
        display: flex;
        height: 46px;
        background-color: $trade-widget-header-bg;
        border-bottom: 1px solid $trade-widget-header-bottom-border;
        border-radius: 20px 20px 0 0;
        color: $trade-widget-inactive-tab;
        padding-top: 14px;
        position: relative;
        .ui-elements {
            padding: 0 8px;
            margin-left: 7px;
            padding-top: 2px;
            span {
                cursor: pointer;
            }
        }
        .responsive-tabs-menu-icon {
            position: absolute;
            right: 10px;
            cursor: pointer;
        }
        .responsive-tabs-menu-container {
            .arrow-up {
                position: absolute;
                top: 31px;
                right: 4px;
                width: 0;
                height: 0;
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
                border-bottom: 12px solid $trade-widget-responsive-tab-menu-bg;
                z-index: 11;
            }
            .responsive-tabs-menu {
                position: absolute;
                background-color: $trade-widget-responsive-tab-menu-bg;
                right: -3px;
                top: 43px;
                list-style-type: none;
                text-align: right;
                border-radius: 3px;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
                z-index: 10;
                li {
                    font-size: 2em;
                    padding: 10px;
                    cursor: pointer;
                    color: $trade-widget-responsive-tab-menu-item;
                    &:first-of-type {
                        margin-top: 5px;
                    }
                    &:last-of-type {
                        margin-bottom: 5px;
                    }
                    &:hover {
                        background: $trade-widget-responsive-tab-menu-hover-bg;
                    }
                }
            }
        }
        .widget-tabs {
            display: flex;
            list-style-type: none;
            overflow-x: hidden;
            li {
                padding: 0 6px;
                cursor: pointer;
                font-size: $trade-widget-header-font-size;
                white-space: nowrap;

                &.active {
                    color: $trade-widget-active-tab;
                    font-weight: bold;
                }
            }
            &.responsive {
                width: 100%;
            }
        }
    }
}

// *****************
// * Widget Styles *
// *****************

// Ticker Wrapper
.ticker-wrapper {
  .last-price {
    & > span {
      color: $trade-header-color;
    }
    &:nth-child(3) span {
      color: $trade-bids-color;
    }
    &:nth-child(4) span {
      color: $trade-asks-color;
    }
  }
  .day-stat {
    span {
      color: $trade-header-color;
    }
  }
}

// Order Entry Container
// div[ap-widget="ShiftOrderEntryContainer"] {
  .order-entry {
      width: 100%;
      .tab-bg {
          width: 100%;
      }
      .order-wrap {
        padding-top: 7px !important;
        // marked as !important to overwrite inline styles
        padding-bottom: 9px;
        border-bottom: 1px solid $trade-order-entry-bottom-border;
        .tabs {
          label {
            width: 33.3%;
            font-weight: $light;
          }
          &>input:checked+label {
            color: $trade-widget-active-order-entry-tab;
            font-weight: $bold;
          }
        }
      }
  }
  .d-select {
      margin: 7px auto;
      label {
        font-weight: $light;
      }
      &>input:checked+label {
        color: $trade-widget-active-order-entry-tab;
        font-weight: $bold;
      }
  }
  .button-wrap.pad {
      border-top: 1px solid $color_10;
      button.btn.btn-action {
          float: none;
          margin: 15px auto !important;
          background: none;
          border: 2px solid $trade-button-border;
          padding: 0 20px;
          &:hover {
            color: $trade-button-font-color-hover;
            background: $trade-button-bg-hover;
            border-color: $trade-button-border-hover;
          }
      }
      .order-entry-text {
          color: $trade-order-entry-text;
      }
  }
  input {
      background: none !important;
      // marked as !important to overwrite inline styles
      border-radius: 15px;
  }
// }

// PRICE CHART STYLES
// LINE STYLES SET IN CONFIG.JS "mainSeriesProperties.candleStyle.upColor", etc
// MAIN CHART BG COLOR SET IN CONFIG.JS "paneProperties.background"
#ap-trading-view-chart {
  background-color: transparent;
  // padding: 10px;
}
#library-container {
  border: none;
  background-color: transparent;
}
.header-chart-panel {
  background-color: transparent;
  a,
  .button,
  .apply-common-tooltip {
    background-color: $trade-price-chart-button-bg;
    svg {
      fill: $trade-price-chart-button;
    }
    cursor: pointer;
  }
  .quick {
    span {
      background-color: $trade-price-chart-button-bg;
      color: $trade-price-chart-button;
    }
  }
  .button.disabled {
    color: rgba(200, 200, 200, .5) !important;
    opacity: 0.7;
    background-color: rgba(255, 255, 255, .4) !important;
    cursor: default;
  }
}
.tv-main-panel {
  background-color: transparent;
}
.tv-side-toolbar {
  border-right: 1px solid transparent;
  background-color: transparent;
  svg {
    fill: $trade-price-chart-sidebar-button !important;
  }
  .selected {
    svg {
      fill: $trade-price-chart-sidebar-button-selected !important;
    }
  }
}
// END PRICE CHART STYLES

// DEPTH CHART STYLING
// Default depth chart styling is in './depth-chart.scss'
// To adjust styling, copy applicable section from depth-chart.scss and edit here
// Colors & fonts are handled via variables.scss
#depth-chart-container {
    min-width: 310px;
    height: 200px;
    margin: 0 auto;

    .highcharts-container {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        text-align: left;
        line-height: normal;
        z-index: 0;
        /* #1072 */
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        font-family: $trade-font-family;
        font-size: 12px;
    }

    .highcharts-background {
        fill: $trade-widget-bg-color;
        fill-opacity: 0;
    }

    .highcharts-area {
        fill-opacity: 0.35;
        stroke-width: 0;
    }

    .highcharts-title {
        fill: $trade-widget-header-font-color-active;
        font-size: $trade-widget-header-font-size;
        font-weight: bold;
        // text-transform: uppercase;
    }

    .highcharts-grid-line {
        fill: none;
        stroke: white;
        stroke-opacity: 0;
    }

    @for $i from 1 through length($depth-chart-colors) {
        $color: nth($depth-chart-colors, $i);
        .highcharts-color-#{$i - 1} {
            fill: $color;
            stroke: $color;
        }
    }
}

// Shift Ticker Styling
.selectable-ticker {
    // padding: 5px 0px 0px;
    box-sizing: border-box;
    color: $trade-shift-ticker;
    font-weight: $light;
    padding-bottom: 20px;
    .ticker-input {
        position: absolute;
        right: 15px;
        top: 8px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 5px;
        // border-bottom: 1px solid $trade-shift-ticker-input-border;
        input {
            padding: 6px 12px;
            background: none;
            border: 1px solid #ccc;
            font-size: 14px;
            color: #DDDFE1;
            border-radius: 15px;
        }
        p {
            position: absolute;
            right: 5px;
            display: flex;
            align-items: center;
            font-size: 14px;
        }
    }
    .ticker-instruments {
        height: 145px;
        overflow: overlay;
        text-align: center;
        border-bottom: 1px solid $trade-shift-ticker-input-border;
        border-top: 1px solid $trade-shift-ticker-input-border;
        &:hover::-webkit-scrollbar {
            width: 10px;
        }
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: #555;
            border-radius: 0px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: #888;
        }
        .ticker-row {
            display: grid;
            grid-template-columns: 0fr 1fr 1fr 1fr 0fr;
            grid-template-rows: 100%;
            padding: 5px 15px;
            user-select: none;
            cursor: pointer;
            &.selected {
                font-weight: bold;
                color: $trade-shift-ticker-selected-instrument;
            }
            &:hover {
                background-color: $trade-row-hover-highlight;
            }
            .up {
                color: $ticker-price-up-color;
            }
            .down {
                color: $ticker-price-down-color;
            }
            .ticker-price {
                padding-left: 15px;
            }
            .ticker-percent {
                text-align: center;
            }
            &:nth-of-type(odd) {
              background: $trade-zerbra-row-highlight-bg-color;
              &:hover {
                background: $trade-row-hover-highlight;
              }
            }
        }
    }
}

// Dropdown Instrument Select Styling
// (inherits from tradeStyles.css)
.instrument-dropdown {
    ul {
        padding-left: 10px;
        box-shadow: 2px 2px 5px #111;
        @media screen and (max-width: 449px) {
            left: -65px;
        }
        &.ticker {
            width: min-content;
        }
        &::-webkit-scrollbar {
            width: 10px;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: #555;
            border-radius: 2px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: #888;
        }
        li {
            padding: 5px 5px 5px 10px;
            margin: 0 !important;
            &.ticker-input {
                display: flex;
                align-items: center;
                justify-content: space-around;
                p {
                    display: flex;
                    align-items: center;
                }
                input {
                    padding: 5px;
                    border: 1px solid transparent;
                    border-bottom: 1px solid #bfbbbb;
                    border-radius: 0px;
                }
            }
            &:hover {
                background-color: #ccc;
            }
            &.instrument-header:hover,
            &.ticker-input:hover {
                background-color: inherit;
                cursor: default;
            }
            a {
                padding: 0 !important;
                &:hover {
                    background-color: inherit;
                }
            }
            .instrument-row {
                color: #585757;
                &.up {
                    color: $trade-bids-color-subdued
                }
                &.down {
                    color: $trade-asks-color-subdued
                }
            }
        }
    }
}
// End Dropdown Instrument Select Styling

// Trade tables styling
.buyFont {
  color: $shift_green;
}

.sellFont {
  color: $shift_red;
}

// Order Book
#bookHolder {
  #askRows, #bidRows {
    & > span:nth-of-type(odd) {
      background-color: $trade-zerbra-row-highlight-bg-color;
    }
    & > span:hover {
      background-color: $trade-row-hover-highlight;
    }
  }
  .booktable {
    .CellBidPrice {
      color: $color_4;
    }

    .CellAskPrice {
      color: $color_5;
    }
    #askRows>span {
      &:last-child {
        background-color: $trade-lowest-ask-price-bg;
      }
    }
    #bidRows>span {
      &:first-child {
        background-color: $trade-highest-bid-price-bg;
      }
    }
  }
}
.book-table-header {
  border-bottom: 1px solid $trade-order-book-table-header-border;
}
.buttons-holder {
  span {
    color: $trade-order-book-actions-text;
    border-color: $trade-order-book-actions-border;
  }
}

// Recent Trades
.recent-trades-table {
  text-align: center;
  .header {
    text-align: center;
  }
  tbody {
    tr {
      &:nth-of-type(odd) {
        background-color: $trade-zerbra-row-highlight-bg-color;
      }
      // !important overwrites inline style
      .up-tick {
        color: $trade-recent-up-tick !important;
      }
      .down-tick {
        color: $trade-recent-down-tick !important;
      }
    }
  }
}

// Orders Table Widget
div[ap-widget="ShiftOrdersTablesContainer"] {
  thead {
    tr {
      border-bottom: 1px solid $trade-orders-table-header-border;
    }
  }
  tbody {
    tr {
      &:nth-of-type(odd) {
        background-color: $trade-zerbra-row-highlight-bg-color;
      }
      &:hover {
        background-color: $trade-row-hover-highlight;
      }
      .sellFont {
        color: $trade-sell-font;
      }
      .buyFont {
        color: $trade-buy-font;
      }
    }
  }
}

// Account Overview Widget
.ap-list {
  thead {
    tr {
      border-bottom: 1px solid $trade-account-overview-table-header-border;
    }
  }
}

// Dropdown calendar
.pika-label {
  &:first-of-type::before,
  &:last-of-type::after {
      content: '\25bc';
      display: inline-block;
      opacity: 1;
      transform: scale(0.5);
  }
  &:first-of-type:hover::before,
  &:last-of-type:hover::after {
      animation: blink 0.35s ease-in-out alternate infinite;
  }
  @keyframes blink {
      0% { opacity: 1 }
      100% { opacity: 0 }
  }
}

// Hidden widget elements
.ap-header-actions-btn-close {
    visibility: hidden;
}

.ap-modal {
  .ap-header-actions-btn-close {
    visibility: visible;
  }
}

.ap-title,
.module-head {
    display: none;
}

.wrapper {
    min-height: 0;
}

// Logged Out rules
.trade-page.loggedout {
    header {
        .account-select-container {
            display: none;
        }
        .header-right-col {
            min-width: 210px;
        }
    }
}

// ********************
// * Responsive Rules *
// ********************

@media screen and (max-width: 900px) {
    .header-ticker-container {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .account-select-container {
        display: none;
    }
}
