@import '../variables';

// *********
// * Fonts *
// *********

@font-face {
  font-family: $lato;
  src: url('../../fonts/lato/Lato-Light.ttf');
  font-weight: $light;
  font-style: normal;
}
@font-face {
  font-family: $lato;
  src: url('../../fonts/lato/Lato-Regular.ttf');
  font-weight: $normal;
  font-style: normal;
}
@font-face {
  font-family: $lato;
  src: url('../../fonts/lato/Lato-Bold.ttf');
  font-weight: $bold;
  font-style: normal;
}

// ************************
// * Wallet Layout Styles *
// ************************

html {
	background-color: $wallet-main-bg;
}

body {
  font-family: $wallet-font-family;
  font-weight: $light;
}

.site-main {
	background-color: $wallet-main-bg;
}

// *****************
// * Header Styles *
// *****************

.site-header {
		padding-top: 10px;
		padding-right: 35px;
		.conversion-values {
			padding-top: 4px;
		}
    .dropdown {
				padding-top: 2px;
        .btn {
						font-weight: $light;
            color: $wallet-header-dropdown;
            &:hover {
                color: $wallet-header-dropdown-hover;
            }
        }
        .open {
            .btn {
                color: $wallet-header-dropdown-hover;
            }
        }

    }
    .help-link {
        color: $wallet-header-help-link;
        &:hover {
            color: $wallet-header-help-link-hover;
        }
    }
}

// ******************
// * Sidebar Styles *
// ******************

.sidebar-container {
    padding-right: 0;
	.sidebar {
		padding-top: 46px;
		border-radius: 10px;
        background-color: $wallet-side-nav-bg;
		.sidebar-nav {
				.logo {
					margin-bottom: 8px;
					text-align: center;
					img {
						vertical-align: middle;
						width: 50%;
					}
				}
		    .sidebar-nav-item {
		        color: $wallet-side-nav-item;
						text-transform: uppercase;
						font-size: 90%;
		        &:hover {
		            color: $wallet-side-nav-item-hover;
		        }
		        &.active {
		            color: $wallet-side-nav-item-active;
		        }
						& > span {
							font-size: 11.7px;
							font-weight: $light;
						}
		    }
		}
		.my-accounts-col {
			border-top: 1px solid $wallet-my-accounts-border;
			border-bottom: 1px solid $wallet-my-accounts-border;
			.ap-body>.inner table tbody {
				border-top: none;
			}
		}
	}
}

// ***********************
// * Main Content Styles *
// ***********************

.content-container {
	padding: 0;
	background: $wallet-content-bg;
	border-radius: 10px;
	.site-title {
			color: $wallet-header-title;
			font-weight: $bold;
			margin: 50px 35px 0 35px;
    }
    .btn-slide {
        position: fixed;
        top: 0;
        left: 0;
        padding: 15px 20px;
        z-index: 5;
        .icon-bar {
            box-shadow: 1px 0px 1px #33354d, 0px 1px 1px #33354d, -1px 0px 1px #33354d, 0px -1px 1px #33354d;
        }
    }
	.content {
			color: $wallet-content-text;
	    .section-title {
	        color: $wallet-content-secondary-header;
					font-weight: $normal;
	    }
	    .service-title {
	        color: $wallet-blurb-title;
	        background: $wallet-blurb-title-bg;
	    }
			p {
				color: $wallet-blurb;
				font-size: 1.2em;
			}
	    .service-checked{
	    	a{
		    	svg {
		    		fill: $wallet-checked-icon--default;
		    	}
		    	&:hover,
		    	&.active {
		    		svg {
		    			fill: $wallet-checked-icon--active;
		    		}
		    	}
		    }
	    }
	}
}

// Pricing table styles
.pricing-table {
	// border: 3px solid $wallet-buy-sell-option-border;
	border-radius: 20px;
	background: $wallet-buy-sell-option-block-bg;
	.pricing-table-title {
		background-color: $wallet-buy-sell-option-title-bg;
		color: $wallet-buy-sell-option-title;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
	}
	.pricing-table-content {
		border: 3px solid $wallet-buy-sell-option-border;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		.pricing-table-price{
			color: $wallet-buy-sell-option-price;
      font-size: 2.6em;
		}
		.pricing-table-for{
			color: $wallet-buy-sell-option-for;
		}
		.pricing-table-separator{
			background-color: $wallet-buy-sell-price-bg-slider;
			&:before {
				background-color: $wallet-buy-sell-price-highlight-slider;
			}
		}
		.btn{
			background-color: $wallet-buy-sell-btn-bg;
			color: $wallet-buy-sell-btn;
			&:hover {
				background-color: $wallet-buy-sell-btn-bg-hover;
				color: $wallet-buy-sell-btn-hover;
			}
		}
	}
}
.pricing-table-popular > span{
	color: $wallet-buy-sell-popular-table-title;
}

// Table Styles
.tables-title {
	color: $wallet-balance-tables-title;
	text-transform: uppercase;
	font-size: 125%;
	border-top: 1px solid $wallet-balance-tables-border;
	padding-top: 20px;
	padding-left: 35px;
	margin-left: -35px;
	margin-right: -35px;
}
.ap-body > .inner table {
	thead {
		text-transform: uppercase;
		color: $wallet-balance-tables-header;
	}
	tbody {
		border-top: 1px solid $wallet-balance-tables-header-border;
		color: $wallet-balance-tables-text;
		tr {
			&:hover {
				background: none;
			}
			.sellFont {
				color: $trade-sell-font;
			}
			.buyFont {
				color: $trade-buy-font;
			}
		}
	}
}
ul.pagi li {
	a {
		color: $wallet-balance-page-number;
	}
	&.active {
		a {
			font-weight: $bold;
		}
	}
}
.table-div-headings {
	border-color: $wallet-balance-tables-header;
	& > div.row:first-child {
		color: $wallet-balance-tables-header-border;
		padding-bottom: 8px;
		text-transform: uppercase;
	}
}

#buyFixed,
#buyCustom {
    .buy-sell-tabs {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    @media screen and (max-width: 767px) {
        .buy-sell-tabs {
            flex-direction: column;
            .tabs-main {
                margin-bottom: 15px;
            }
        }
    }
}

// buy/sell sliding line action selector
.tabs-main{
	.tab {
		color: $wallet-toggle-buy-sell-tab;
		text-transform: uppercase;
		&.active {
			color: $wallet-toggle-buy-sell-tab-active;
		}
	}
	.blue-line {
		height: 2px;
		background-color: $wallet-toggle-buy-sell-tab-line-active;
	}
}

// buy/sell currency pair slider button
.segmented-control{
	background-color: $wallet-slider-bg--default;
	> label {
		&:before,
		&:after {
			background-color: $wallet-slider-bg--active;
		}
	}
}

// buy/sell custom market order link
.custom-currency-link {
    font-size: 16px;
		#customAmount{
			font-weight: $normal;
				color: $wallet-buy-sell-custom-amount-link;
				&:hover {
					color: $wallet-buy-sell-custom-amount-link-hover;
				}
    }
    a {
        font-size: 16px;
    }
}

.ap-balances{
    .inner {
        margin-top: 0;
    }
    .table-div-headings {
        &>.row {
            display: flex;
            align-items: flex-end;
        }
    }
    .currency-row {
        &:hover {
            background-color: rgba(255,255,255,0.15);
        }
        @media screen and (min-width: 768px) {
            &>.row {
                display: flex;
                align-items:center;
            }
        }
        @media screen and (max-width: 767px) {
            .name,
            .hold,
            .pending-deposits {
                padding: 0px 5px;
            }
            &:hover {
                .action-buttons {
                    display: flex;
                    align-items: center;
                }
            }
        }
        @media screen and (max-width: 380px) {
            font-size: 10px;
        }
    }
    .action-buttons {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        z-index: 10;
        @media screen and (max-width: 767px) {
            display: none;
            align-items: center;
            position: absolute;
            top: 40px;
            right: 0px;
            background: rgba(white, 0.15);
            width: auto;
            padding: 5px;
            border-radius: 0 0 20px 20px;
            animation: dropdown .25s;
            transform-origin: top center;
            @keyframes dropdown {
                0% { transform: scaleY(0); opacity: 0; }
                100% { transform: scaleY(1); opacity: 1; }
            }
        }
        .deposit-button {
            color: $wallet-balance-deposit-btn;
            background-color: $wallet-balance-deposit-btn-bg;
            &:focus,
            &:active,
            &:hover {
                color: $wallet-balance-deposit-btn-hover;
                background-color: $wallet-balance-deposit-btn-bg-hover;
            }
        }
        .withdraw-button{
            // display: none;
            color: $wallet-balance-withdraw-btn;
            background-color: $wallet-balance-withdraw-btn-bg;
            &:focus,
            &:active,
            &:hover {
                color: $wallet-balance-withdraw-btn-hover;
                background-color: $wallet-balance-withdraw-btn-bg-hover;
            }
        }
    }
}

// Settings
// TODO: Remove bootstrap column class from widget
div[ap-widget="Settings"],
div[ap-widget="ShiftSettings"] {
	.inner {
		margin-top: 0;
		.container-fluid {
			.row {
				.col-md-9.col-xs-12 {
					padding: 0;
					width: 100%;
				}
			}
		}
	}
	.form-group input {
		color: $wallet-settings-input-text;
		background: none;
		border: 1px solid $wallet-settings-input-border;
		border-radius: 25px;
		&::placeholder {
			color: $wallet-settings-placeholder-text;
		}
	}
}

// ***
// RECENT TRANSACTIONS TABLE
// ***

.recent-transactions-table {
    table {
        width: 800px;
        tbody {
            margin-top: 5px;
            td {
                font-size: 12px;
                padding: 5px 5px;
                &.side {
                    text-align: center;
                }
                &.time {
                    font-size: 10px;
                    vertical-align: middle;
                }
            }
        }
        thead {
            th {
                padding: 8px 5px;
            }
        }
    }
}

// Deposit Modal
.deposit-modal {
  margin: 1.5rem 0;
  .dropzone {
    border-radius: 4px;
    .file-drop {
      padding: 6% 10px 6% 10px;
      margin-bottom: 30px;
      text-align: center;
      border: 2px dashed $color_3;
      border-radius: 4px;
      min-height: 250px;
      .upload-icon {
        padding-top: 20px;
        font-size: 3em;
      }
      .upload-text {
        h2 {
          padding-bottom: 0;
          font-size: 3em;
        }
        h3 {
          margin-bottom: 20px;
          span {
            cursor: pointer;
            text-decoration: underline;
          }
        }
        p {
        }
      }
    }
    .file-drop-active {
      border-color: $color_12;
      background: $color_3;
    }
    .file-drop-reject {
      border-color: $color_5;
      background: pink;
    }
  }
  .bank-info {
    p span {
      font-weight: $bold;
    }
  }
  .deposit-buttons {
    padding-top: 6px;
  }
}

// Manual KYC
.manual-kyc {
  .manual-kyc-form {
    .form-row {
      display: flex;
      width: 100%;
    //   justify-content: space-between;
      .form-field {
        padding: 0 1%;
        width: 100%;
        & > p {
          white-space: nowrap;
          overflow: hidden;
        }
      }
      &.row-1 .form-field {
        width: 31%;
      }
      &.row-2 .form-field {
        width: 31%;
        &.dob-field {
          width: 28%;
        }
        &.gender-field {
          width: 34%;
          .gender-option-group {
            display: flex;
            .gender-option {
              padding-right: 10px;
              padding-top: 10px;
              display: flex;
              p {
                padding-left: 10px;
                padding-top: 2px;
              }
            }
          }
        }
      }
      &.row-3 .form-field {
        width: 31%;
      }
      &.row-5 .form-field {
        &.city-field {
          width: 35%;
        }
        &.state-field {
            width: 20%;
        }
        &.zip-field {
          width: 20%;
        }
        &.country-field {
          width: 25%;
        }
      }
      &.row-6 .form-field {
        &.industry-field {
          width: 30%;
          margin-right: 15px;
        }
        &.cnpj-field {
          width: 20%;
        }
        &.how-hear-field {
          width: 78%;
        }
      }
      &.row-7 .form-field {
        width: 48%;
      }
    }
    .submit-buttons {
      margin-top: 20px;
    }
  }
}

.send-request-page{
	.title-bottom-border,
	.title-blue-bg{
		color: $wallet-settings-tables-title;
		background: $wallet-settings-tables-title-bg;
		border-bottom: none;
		padding: 10px 0;
	}
	.orange-link{
		color: $wallet-settings-reset-password-link;
		&:hover {
			color: $wallet-settings-reset-password-link-hover;
		}
	}
	.btn-action,
	.btn-orange,
    .btn-blue{
    	color: $wallet-settings-tables-btn;
    	background: $wallet-settings-tables-btn-bg;
    	&:hover{
			color: $wallet-settings-tables-btn-hover;
			background: $wallet-settings-tables-btn-bg-hover;
    	}
    }
    .update-2FA-button {
        margin: 20px 0;
    }
}


.modal,
.ap-modal {
    .kyc-input-inline {
        label {
            .select-label-text {
                display: none;
            }
            display: inline-block;
        }
    }
    .required {
        .label-text::after,
        .datepicker-label-text::after {
            content: ' *';
            color: rgba(red, 0.6);
        }
    }
    .ap-modal_inner {
        overflow-y: auto !important;
        height: auto;
        margin: 0px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 96%;
        max-height: 96%;
        min-width: auto;
        overflow: hidden;
        position: absolute;
        background: #fff;
        padding: 30px 40px;
        @media screen and (max-width: 767px) {
            padding: 20px 25px;
            transform-origin: center center;
            transform: scale(.75) translate(-65%, -65%);
            max-height: 120%;
        }
        .ap-header {
            span {
                color: $wallet-modal-title;
            }
        }
        .modal-body {
            .img-thumb {
                color: $wallet-modal-thumb-header;
            }
        }
    }
    .btn-action,
    .btn-modal {
        color: $wallet-modal-btn;
        background: $wallet-modal-btn-bg;
        &:hover {
            color: $wallet-modal-btn-hover;
            background: $wallet-modal-btn-bg-hover;
        }
    }
}


/* KYC Workflow Styles */

.confirm-close-btn {
    padding: 15px 22px;
    background: #0ea920;
    color: white;
    border-radius: 2px;
    border: 1px solid white;
    display: block;
    width: auto;
    text-align: center;
    margin: 0 auto;
    top: 50%;
    position: fixed;
    // left: calc(50% - 37px);
    -webkit-transition: all .15s ease-in;
    -moz-transition: all .15s ease-in;
    transition: all .15s ease-in;
}

.confirm-close-btn:hover {
    background: #09981a;
}

.loader-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(255, 255, 255, 0.5);
}

.loader-container-confirm {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgb(255, 255, 255);
}

.loader {
    color: #82d1ff;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    top: calc(50% - 1.5em);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.service-thumb {
    padding: 35px 0 0;
    width: 25%;
    text-align: center;
    @media screen and (max-width: 479px) {
        padding-bottom: 25px;
    }
    i {
        font-size: $verification-font-size;
        color: $verification-icons-color;
        @media screen and (max-width: 767px) {
            font-size: $verification-font-size-smaller;
        }
    }
}

.service-content {
    padding-left: 25%;
}










// copied and pasted from v2retail template readme in git repo
/* widgets@1.0.10 */
.ap-modal label.error {
    position: absolute;
    display: block;
    color: lightcoral;
}

.try-again-btn,
.confirm-close-btn {
   position: absolute;
   padding: 15px 22px;
   background: #0ea920;
   color: white;
   border-radius: 2px;
   border: 1px solid white;
   display: block;
   width: auto;
   text-align: center;
   margin: 0 auto;
   top: 60%;
   // left: calc(50% - 39.4px);
   -webkit-transition: all .15s ease-in;
   -moz-transition: all .15s ease-in;
   transition: all .15s ease-in;
}

.try-again-btn {
  background: rgba(0, 89, 153, 0.816);
}

.try-again-btn:hover {
  background: #005999;
}

.confirm-close-btn:hover {
  background: #09981a;
}

.loader-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9998;
  background: rgba(255, 255, 255, 0.5);
}

.loader-container-confirm {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9998;
  background: rgb(255, 255, 255);
  p {
    position: relative;
    top: 30%;
    font-size: 2em;
    text-align: center;
  }
}

.loader {
  color: #82d1ff;
  font-size: 90px;
  text-indent: -9999em;
  z-index: 9999;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  top: calc(50% - 1.5em);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* widgets@1.0.39 */
.danger-bdr {
    border: 1px solid lightcoral
  }

/* widgets@1.0.41 */
.try-again-btn,
.confirm-close-btn {
  padding: 15px 22px;
  background: #0ea920;
  box-shadow: unset;
  color: white;
  border-radius: 2px;
  border: 1px solid white;
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.try-again-btn {
  background: rgba(0, 89, 153, 0.816);
}

.try-again-btn:hover {
  background: #005999;
}

.confirm-close-btn:hover {
  background: #09981a;
}

/* widgets@1.0.46 */
.btn[disabled] {
    pointer-events: none;
}

/* widgets@1.0.50 */
.sub-title {
    font-size: 16px;
}

/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 */

.pika-single {
    z-index: 9999;
    display: block;
    position: relative;
    color: #333;
    background: #fff;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
clear child float (pika-lendar), using the famous micro clearfix hack
http://nicolasgallagher.com/micro-clearfix-hack/
*/
.pika-single:before,
.pika-single:after {
    content: " ";
    display: table;
}
.pika-single:after { clear: both }
.pika-single { *zoom: 1 }

.pika-single.is-hidden {
    display: none;
}

.pika-single.is-bound {
    position: absolute;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,.5);
}

.pika-lendar {
    float: left;
    width: 240px;
    margin: 8px;
}

.pika-title {
    position: relative;
    text-align: center;
}

.pika-label {
    display: inline-block;
    *display: inline;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin: 0;
    padding: 5px 3px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    background-color: #fff;
}
.pika-title select {
    cursor: pointer;
    position: absolute;
    z-index: 9998;
    margin: 0;
    left: 0;
    top: 5px;
    filter: alpha(opacity=0);
    opacity: 0;
}

.pika-prev,
.pika-next {
    display: block;
    cursor: pointer;
    position: relative;
    outline: none;
    border: 0;
    padding: 0;
    width: 20px;
    height: 30px;
    /* hide text using text-indent trick, using width value (it's enough) */
    text-indent: 20px;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    opacity: .5;
    *position: absolute;
    *top: 0;
}

.pika-prev:hover,
.pika-next:hover {
    opacity: 1;
}

.pika-prev,
.is-rtl .pika-next {
    float: left;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
    *left: 0;
}

.pika-next,
.is-rtl .pika-prev {
    float: right;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
    *right: 0;
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
    cursor: default;
    opacity: .2;
}

.pika-select {
    display: inline-block;
    *display: inline;
}

.pika-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}

.pika-table th,
.pika-table td {
    width: 14.285714285714286%;
    padding: 0;
}

.pika-table th {
    color: #999;
    font-size: 12px;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
}

.pika-button {
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    border: 0;
    margin: 0;
    width: 100%;
    padding: 5px;
    color: #666;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    background: #f5f5f5;
}

.pika-week {
    font-size: 11px;
    color: #999;
}

.is-today .pika-button {
    color: #33aaff;
    font-weight: bold;
}

.is-selected .pika-button,
.has-event .pika-button {
    color: #fff;
    font-weight: bold;
    background: #33aaff;
    box-shadow: inset 0 1px 3px #178fe5;
    border-radius: 3px;
}

.has-event .pika-button {
    background: #005da9;
    box-shadow: inset 0 1px 3px #0076c9;
}

.is-disabled .pika-button,
.is-inrange .pika-button {
    background: #D5E9F7;
}

.is-startrange .pika-button {
    color: #fff;
    background: #6CB31D;
    box-shadow: none;
    border-radius: 3px;
}

.is-endrange .pika-button {
    color: #fff;
    background: #33aaff;
    box-shadow: none;
    border-radius: 3px;
}

.is-disabled .pika-button {
    pointer-events: none;
    cursor: default;
    color: #999;
    opacity: .3;
}

.is-outside-current-month .pika-button {
    color: #999;
    opacity: .3;
}

.is-selection-disabled {
    pointer-events: none;
    cursor: default;
}

.pika-button:hover,
.pika-row.pick-whole-week:hover .pika-button {
    color: #fff;
    background: #ff8000;
    box-shadow: none;
    border-radius: 3px;
}

/* styling for abbr */
.pika-table abbr {
    border-bottom: none;
    cursor: help;
}


/* Widget@1.0.62 */
/* KYC Progress Bar */
.progress-bar-container {
      width: 570px;
    margin: 0 auto;
    display: inline-block;
    margin-left: 15px;
    padding-bottom: 25px;
}
.progressbar {
    counter-reset: step -1;
}
.progressbar li {
    list-style-type: none;
    width: 25%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
}
.progressbar li:before {
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    line-height: 30px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}
.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 15px;
    left: -50%;
    z-index: -1;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.pass-level {
    color: green;
}
.progressbar li.pass-level:before {
    border-color: #55b776;
}
.progressbar li.pass-level + li:after {
    background-color: #55b776;
}

.progressbar li.under-review-level {
    color: #FFD700;
}
.progressbar li.under-review-level:before {
    border-color: #FEDD00;
}
.progressbar li.under-review-level + li:after {
    background-color: #FEDD00;
}

 /* widets@1.0.68 */

 .ap-input-label {
   position: relative;
   width: 100%;
 }

 .datepicker-label-text,
 .label-text {
   font-size: 12px;
   position: absolute;
   width: 94%;
   top: 1px;
   left: 4px;
   overflow: hidden;
 }

.form-control.ap-datepicker-input,
.ap-input {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 4px;
    padding-top: 20px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    border: 1px solid #d2d2d2
}

 .input-dob {
   position: relative;
 }

 //Dropdown Calendar picker
.pika-label {
    &:first-of-type::before,
    &:last-of-type::after {
        content: '\25bc';
        display: inline-block;
        opacity: 1;
        transform: scale(0.5);
    }
    &:first-of-type:hover::before,
    &:last-of-type:hover::after {
        animation: blink 0.35s ease-in-out alternate infinite;
    }
    @keyframes blink {
        0% { opacity: 1 }
        100% { opacity: 0 }
    }
}

// Verify Account date field
.ap-datepicker-label {
    width: 100%;
    cursor: default;
    transition: 0.25s all;
    &:hover,
    &:focus-within {
        .datepicker-label-text::before {
            opacity: 1;
            width: 15px;
            transition: 0.25s all;
        }
    }
    .datepicker-label-text {
        &::before {
            content: '\25bc';
            opacity: 0;
            width: 0px;
            display: inline-block;
            transition: 0.25s all;
        }
    }
    input {
        cursor: inherit;
    }
}



.form-control.ap-select-input {
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #d2d2d2;
}

 .select-label-text {
   position: absolute;
   left: 17px;
   top: -14px;
   font-size: 12px;
 }

 .ap-input-focused .ap-input {
   transition: .15s all linear;
   -o-transition: .15s all linear;
   -moz-transition: .15s all linear;
   -webkit-transition: .15s all linear;
 }

 .ap-input-focused .label-text {
  color: #3c7db6;
 }

 .ap-input-error {
   color: red;
   font-size: 11px;
   display: block;
   position: absolute;
   top:41px;
 }

 .span.text-center > button {
    margin: 0 auto;
    display: block;
    margin-bottom: 8px;
    margin-top: 20px;
}

.ap-modal_inner .pad span.text-center > p {
    font-size: 12px;
}

.verification-required-message {
    color: #444;
}

#buyCustom {
    .ap-body {
			.inner {
        .content {
            p {
                font-size: 15px;
                a {
                    font-size: 15px;
                }
            }
            .orange-link {
                color: $wallet-buy-sell-custom-amount-link;
                font-weight: 600;

                &:hover {
                    color: $wallet-buy-sell-custom-amount-link-hover;
                }
            }
            .text-center {
              padding-top: 20px;
              .btn-orange {
                  color: $wallet-settings-tables-btn;
                  background: $wallet-settings-tables-btn-bg;
                  &:hover{
                      color: $wallet-settings-tables-btn-hover;
                      background: $wallet-settings-tables-btn-bg-hover;
                  }
              }
            }
            table.table.table-bordered {
              color: white;
              border: none;
              * {
                border: none;
                color: white;
              }
              tbody > tr {
                td:first-child {
                  text-align: right;
                }
                td.text-right {
                  text-align: left;
                }
              }
            }
        }
				.input-group {
					.input-group-addon {
						background: none;
						border-color: $wallet-buy-sell-custom-input-border;
						border-radius: 25px 0 0 25px;
					}
          #sizing-addon3 {
            color: $wallet-buy-sell-custom-amount-input-text;

          }
					input {
						background: none;
            color: $wallet-buy-sell-custom-amount-input-text;
						border-color: $wallet-buy-sell-custom-input-border;
            border-radius: 0 25px 25px 0;
					}
				}
			}
			& > .inner > div.col-md-9.col-xs-12 {
				width: 100%;
			}
    }
    .title-blue-bg {
        color: $wallet-blurb-title;
        background: $wallet-blurb-title-bg;
    }
    h3 {
        color: $wallet-content-secondary-header;
    }
}

#welcome-modal {
    .modal-body {
        .deposit-button {
            padding-top: 5px;
        }
    }
}

.home-simple-ui {
    .ap-modal_inner {
        width: auto !important;
    }
}
.signup-link {
    display: block;
}
.login-link {
    display: block;
    text-align: center;
    margin-top: 45px;
}