#social li a {
  width: 32px;
  height: 32px;
  display: block;
}

.page-footer,
.footer{
  color: white;
  * { color: white; }
  ul {
    list-style: none;
    margin: 0;
  }
}

#footer_links li { padding-right: 20px; }

#social li,
#footer_links li {
  float: left;
  margin: 0 5px;
}

#social {
  position: relative;
  top: -6px;
  li a i { font-size: 20px; }
}
