.ap-widget {
  border: 1px solid $widgetBorderColor;
  background: $widgetBackground;
  margin-bottom: 8px;
  position: relative;
  color: $widgetTextColor;
}


.ap-title {
  display: inline-block;
  font-size: 24px;
}

.ap-title .sub-title { font-size: .55em; }

.ap-controls { float: right; }

.ap-body { overflow: auto; }

.ap-body.min { max-height: 0; }

.ap-body {
  &.showhelp *[data-help] { box-shadow: inset 0 0 1em orange; }

  .ap-tab {
    width: 50%;
    display: inline-block;
    padding: 8px;
    font-size: 23px;
    color: grey;
    text-align: center;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    span.circle {
      display: inline-block;
      border: 1px solid grey;
      padding-left: 8px;
      padding-right: 8px;
      border-radius: 50%;
      text-align: center;
    }
    &.active {
      background-color: darken($inputBackground, 50%);
      color: white;
      span.circle { border: 1px solid white; }
    }
    &:last-of-type { border-right: none; }
  }
}


.ap-header{
  background: $widgetHeaderBackground;
  color: $widgetHeaderTextColor;
  min-height: 48px;
  padding: 8px 16px 8px 16px;
  font-size: 18px;
  border-bottom: 1px solid $widgetHeaderBorderColor;
  &-actions {
    position: absolute;
    top: 0;
    right: 0;
    vertical-align: middle;
    & > * {
      display: inline-block;
      padding: 2px 4px;
      min-height: 38px;
    }
    & *[class*='btn'] {
      font-weight: bold;
      font-size: 28px;
      text-align: center;
      width: 38px;
      color: grey;
      transition: 300ms ease-in-out;
    }
    &-btn-help.active {
      color: orange;
      transform: scale(1.2);
    }
  }
}
