* {
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
    text-rendering: optimizeLegibility;
    /* text-rendering: optimizeSpeed; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'NimbusReg';
    src: url('../fonts/nimbus/NimbusSansNovusDOT-Reg.otf');
}

body {
    background: #fff;
    letter-spacing: 2px;
    font-family: 'NimbusReg', 'Roboto', 'Didact Gothic', 'Maven Pro', sans-serif;
    /* letter-spacing: 1px; */
    /* font-family: "Helvetica Neue","Helvetica","PingFang SC","Hiragino Sans GB,Microsoft YaHei","\\5FAE\8F6F\96C5\9ED1","Arial","sans-serif"; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #3b4251;
    margin-bottom: .7em;
    font-family: 'NimbusReg', 'Didact Gothic', 'Maven Pro', sans-serif;
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 19px;
}

a {
    color: #3b4251;
    text-decoration: none;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
}

a:hover {
    color: black;
    text-decoration: none;
}

a:active,
a:visited,
a:focus,
.btn:hover {
    text-decoration: none;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: .25rem;
    transition: all .15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}

.content-top,
.content-bottom,
.content-left,
.content-right {
    -webkit-transition: all .75s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}

.content-top {
    opacity: 0;
    transform: translateY(-5px);
}

.content-bottom {
    opacity: 0;
    transform: translateY(5px);
}

.content-left {
    opacity: 0;
    transform: translateX(-5px);
}

.content-right {
    opacity: 0;
    transform: translateX(5px);
}

.nav {
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    z-index: 102;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.15); */
    top: 0;
    /* background: rgba(255, 255, 255, 0.97); */
    background: transparent;
}

.nav-container {
    display: block;
    width: 100%;
    position: relative;
}

.nav-inner-container {
    position: relative;
    margin-left: 4%;
    margin-right: 4%
}

.logo {
    display: inline-block;
    padding: .5em;
    /* padding-left: 5em; */
    padding-left: 0;
    vertical-align: middle;
    margin-right: 2em;
    -webkit-transition: all .5 linear;
    -moz-transition: all .5 linear;
    transition: all .5 linear;
}

.logo h1 {
    color: white;
    font-family: 'NimbusReg', 'Didact Gothic', 'Maven Pro', sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin-top: 0;
    -webkit-transition: all .5 linear;
    -moz-transition: all .5 linear;
    transition: all .5 linear;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.point {
    color: rgb(249, 76, 59);
}

.nav-items-container {
    left: 6%;
    width: 90vw;
    /* right: 6%; */
    top: calc(50% - 18px);
    position: absolute;
}

.nav-items-container .right {
    float: right;
}

/* My dropdown */
.link-dropdown {
    position: relative !important;
    display: inline-block !important;
}

.link-dropdown-content {
    display: none !important;
    position: absolute !important;
    background-color: #f1f1f1 !important;
    min-width: 160px !important;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2) !important;
    z-index: 1 !important;
}

.link-dropdown-content a {
    color: black !important;
    padding: 12px 16px !important;
    text-decoration: none !important;
    display: block !important;
}

.link-dropdown-content a:hover {background-color: #ddd !important;}

.link-dropdown:hover .link-dropdown-content {display: block !important;}

.link-dropdown:hover .dropbtn {background-color: #3e8e41 !important;}

/* ********************** */

.nav-items {
    list-style-type: none;
}

.nav-items li {
    display: inline-block;
    font-weight: bold;
    padding-right: 2.5em
}

.nav-items li a {
    font-family: 'NimbusReg', 'Didact Gothic', 'Maven Pro', sans-serif;
    /* color: #26D; */
    font-size: 1em;
    color: rgba(249, 59, 42, 0.5);
    border-top: 2px solid transparent;
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    transition: all .25s linear;
}

.nav-items li a:hover {
    padding-top: 5px;
    border-top: 5px solid #f93b2a;
    color: #f93b2a;
}

.nav-items li a.active {
    padding-top: 5px;
    /* border-top: 5px solid #26D; */
    border-top: 5px solid #f93b2a;
    color: #f93b2a;
}

#register a,
#login a,
#signup a {
    font-size: 15px;
    border: 1px solid rgba(249, 59, 42, 0.85);
    border-radius: 2px;
    padding: 7px 12px;
    -webkit-transition: all .1 linear;
    -moz-transition: all .1 linear;
    transition: all .1 linear;
}

#register a:hover,
#login a:hover,
#signup a:hover {
    border: 1px solid #f93b2a;
}

#register a.reset-password-button,
#login a.reset-password-button {
    border: 1px solid transparent;
    color: rgba(255, 255, 255, 0.35)
}

#register a.reset-password-button:hover,
#login a.reset-password-button:hover {
    border: 1px solid rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.7);
}


/* Hamburger */

#hamburger {
    width: 41px;
    height: 33px;
    position: absolute;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    right: 0;
    z-index: 200;
    top: calc(50% - 22px);
}

#hamburger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #f93e2e;
    border-radius: 4px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#hamburger span:nth-child(1) {
    top: 1px;
}

#hamburger span:nth-child(2) {
    top: 13px;
}

#hamburger span:nth-child(3) {
    top: 26px;
}

ul.menu {
    list-style: none;
}

.menu-wrapper {
    position: fixed;
    z-index: 198;
    height: 100%;
    width: 300px;
    margin: 0 auto;
    display: block;
    top: 0;
    right: -300px;
    /* background: #ddd; */
    background: #0d141d;
    -webkit-transition: all .25s ease-in;
    -moz-transition: all .25s ease-in;
    transition: all .25s ease-in;
}

.menu-container {
    width: 80%;
    height: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 50%;
    margin-left: 56px;
}

.menuopen {
    transform: translateX(-300px)
}

.menu-item {
    position: relative;
    margin-bottom: 26px;
    font-size: 29px;
}

.menu-item a {
    font-family: 'NimbusReg', 'Didact Gothic', 'Maven Pro', sans-serif;
    font-weight: bold;
    color: white;
}

.clip-wrap {
    left: 0;
    position: absolute;
    top: 0;
    color: #f93e2e;
    display: block;
    zoom: 1;
    -webkit-transition: width 1.75s cubic-bezier(0.2, .7, .3, 1), -webkit-transform .8s cubic-bezier(0.2, .7, .3, 1);
    -moz-transition: width 1.75s cubic-bezier(.52, .01, .16, 1);
    transition: width 1.75s cubic-bezier(0.2, .7, .3, 1), transform .8s cubic-bezier(0.2, .7, .3, 1);
    width: 0;
    height: 110%;
    padding: 0;
    opacity: 1;
    overflow: hidden;
    pointer-events: none;
    backface-visibility: hidden;
}

.clip-wrap span {
    -webkit-transition: width 1.75s cubic-bezier(0.2, .7, .3, 1), -webkit-transform .8s cubic-bezier(0.2, .7, .3, 1);
    -moz-transition: width 1.75s cubic-bezier(.52, .01, .16, 1);
    transition: width 1.75s cubic-bezier(0.2, .7, .3, 1), transform .8s cubic-bezier(0.2, .7, .3, 1);
    display: block;
    width: 0;
    position: relative;
    word-break: normal;
    backface-visibility: hidden;
}

.menu-item a:hover {
    color: #f93e2e;
}

.menu-item a:hover>.clip-wrap,
.menu-item a:hover>.clip-wrap span {
    width: 101%;
}


/* Main Content */

.section {
    display: flex;
    min-height: 700px;
    height: auto;
    padding: 10%;
    padding-top: 110px;
    padding-bottom: 110px;
    overflow: hidden;
}

section {
    background-attachment: fixed;
}

.main {
    position: relative;
    display: block;
}

.content-box-container {
    width: 95%;
    margin: 0 auto;
}

.content-box {
    /* flex: 1 */
}


/* Hero Section */

#home:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, transparent, #0d141d)
}

#home {
    position: relative;
    padding-top: 0;
    /* background-image: url('../../images/header-banner.jpg'); */
    /* background: url(../../images/header-banner.jpg); background-size: cover; */
    background-repeat: no-repeat;
    height: 85vh;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#home:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* background-image: url('../images/gif/giphy.gif'); */
    background-image: url('../../images/header-banner.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.3;
    /* animation: 50s linear 1s infinite rotate; */
}

#home .headline,
#home .tagline {
    letter-spacing: 7px;
    color: white;
    font-family: 'Arial', 'Didact Gothic', 'Maven Pro', sans-serif;
    font-weight: bold;
    font-size: 4em;
    margin-bottom: initial;
}

#home .headline {
    margin-bottom: 100px;
}

.hero-content,
.hero-container {
    text-align: center;
    height: 100%;
}

#home .tagline {
    padding-top: 1em;
    font-size: 1.7em;
    margin-bottom: 2.5em;
}

#home .content {
    display: block;
    opacity: 0;
    width: 0;
    height: 0;
}

#home .content-top {
    opacity: 0;
    transform: translateY(-60px);
}

#home .content-bottom {
    opacity: 0;
    transform: translateY(60px);
}

#home .content-left {
    opacity: 0;
    transform: translateX(-60px);
}

#home .content-right {
    opacity: 0;
    transform: translateX(60px);
}

#home .btn {
    background: none;
    color: white;
}


/* Zoom in Keyframes */

@-webkit-keyframes zoomin {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(2);
    }
}

@keyframes zoomin {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(2);
    }
}


/* End of Zoom in Keyframes */


/* Zoom Out Animations */

@-webkit-keyframes zoomout {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.67);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes zoomout {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.67);
    }
    100% {
        transform: scale(1);
    }
}


/*End of Zoom Out Animations */


/* vertical rectangle style dot nav*/

.dot-nav {
    display: block;
    position: fixed;
    list-style: none;
    width: 24px;
    right: 0;
    top: calc(50% - 10px);
    transform: translateY(-50%);
    margin: 0;
    padding: 10px 0 0;
    z-index: 10;
    overflow: visible;
}

.dot-nav li {
    display: block;
    position: relative;
    list-style: none;
    background: transparent;
    height: 29px;
    width: 6px;
    border-radius: 5px;
    margin: 0 0 24px 0;
    padding: 0;
    border: 2px solid #fff;
    opacity: 0.66;
    cursor: pointer;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}


/* TO DO : .dot-nav li:after for sliding from and to each dot (animation) */

.dot-nav li:hover {
    opacity: 1;
}

.active-dot {
    /* width: 7px !important; */
    transform: translateX(0)
}

.dot-nav .tooltip {
    right: 50px;
    top: 0;
    height: 34px;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.active-hover-text {
  
}

.dot-nav a {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.dot-nav a.active:after {
    box-shadow: inset 0 0 0 5px;
}

.dot-nav a .hover-text {
    color: white;
    position: absolute;
    right: 15px;
    top: 2px;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    padding-right: 8px;
}

.dot-nav li:hover .hover-text {
    opacity: 1;
}

.dot-nav a:after {
    -webkit-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
    width: auto;
    height: auto;
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    right: 4px;
    bottom: 0;
}


/* =========== TICKER =========== */

#ticker-container {
    position: relative;
    display: block;
    height: 15vh;
    background: #0d141d;
    overflow: hidden;
    width: 100%;
}

.ticker-container:before {
    content: '';
    left: 0;
    background: linear-gradient(90deg, #0d141d, transparent);
}

.ticker-scrolling {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.ticker {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    white-space: nowrap;
    /* align-items: stretch; */
    -ms-flex-pack: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding-top: 1%;
}

.ticker::before,
.ticker::after {
  content: '';
}

.animate-ticker {
    margin-left: 100%;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
}

.ticker-block {
    font-family: 'Roboto', sans-serif;
    color: #3b4251;
    color: white;
    padding-right: 35px;
}

.ticker-block p {
    margin-bottom: 6px;
}

.ticker-block .ticker-session-high,
.ticker-block .ticker-symbol {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}

.ticker-last-trade {
    font-size: 18px;
}

.high {
    color: white;
}

.ticker-block .ticker-session-high,
.currency {
    color: #858585
}

.ticker-block .ticker-session-high {
    font-size: 12px;
    font-weight: normal;
}

@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(-200%, 0, 0);
        transform: translate3d(-200%, 0, 0);
    }
}

@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(-200%, 0, 0);
        transform: translate3d(-200%, 0, 0);
    }
}


/* =========== Features and About Sections =========== */

.features .headline {
    font-weight: bold;
    color: #f73e2e;
}

.features {
    background: rgba(0, 0, 0, .88);
    background: url('../images/lap-top.jpg') top center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.features h2,
.features h3,
.about h2,
.about h3 {
    color: white;
    text-align: center;
}

.features h5,
.features p,
.about h5,
.about p {
    color: #f4f4f4;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    letter-spacing: 3px;
    line-height: 1.2em;
    margin: 0 auto;
}

.features p,
.about p {
    font-weight: normal;
    letter-spacing: 1.5px;
    font-size: .8em;
    max-width: 320px;
}

.features h5.subtitle,
.about h5.subtitle {
    margin-bottom: 1em;
}

.feat-list-content {
    padding: 10%;
}

.content-icon {
    display: block;
    height: 47px;
    margin: 0 auto;
    margin-bottom: 30px;
}


/* =========== About =========== */

.about {
    background: #e0e0e0;
    background: url('../images/glass-code.jpg') center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.about h4,
.about p {
    color: white;
}

.about h1,
.about .headline {
    font-weight: bold;
    color: #f73e2e;
}

.about-list-content {
    padding: 20px;
}


/* =========== Contact Section =========== */

.contact {
    background: white;
}

.contact a {
    -webkit-transition: all .05s linear;
    -moz-transition: all .05s linear;
    -o-transition: all .05s linear;
    transition: all .05s linear;
}

.social-link {
    text-align: left;
    margin-left: 15px;
}

.footer-link,
.sitemap-link {
    display: block;
    text-align: left;
}

.social-link:hover,
.sitemap-link:hover,
.footer-link:hover {
    color: #f73e2e;
}

.footer-item,
.footer-address-last {
    margin-bottom: 8px;
}

.footer-address {
    margin-bottom: 2px;
}

.social-icon {
    width: 13px;
}


/* Google Maps */

#map {
    height: 300PX;
    width: 100%;
    margin: 0 auto;
    background: grey;
}


/* =========== ADD-ONS and Grid Mofifications =========== */

.center-flex-ie {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.btn.underline {
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.8em;
    background: none;
    border: 0;
    display: inline-block;
    position: relative;
    padding-bottom: 10px;
    letter-spacing: 2px;
    outline: none;
    color: white;
}

.btn.underline::after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.btn.underline:hover::after {
    width: 100%;
    background: #f73e2e;
}

.btn {
    cursor: pointer;
}

.h-100 {
    height: 100%;
}

.h-85 {
    height: 85%;
}

.h-95 {
    height: 95%;
}

.w-95-center {
    width: 95%;
    margin: auto;
}

.w-100-center {
    width: 100%;
    margin: auto;
}

.t-center {
    text-align: center;
}

.t-left {
    text-align: left;
}

.title-hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 7px solid rgba(255, 255, 255, 1);
    width: 50px;
    border-radius: 7px;
    -webkit-transition: width .7s linear;
    -moz-transition: width .7s linear;
    transition: width .7s linear;
}

.headline {
    font-size: 2em
}

.force-flex-break {
    width: 100%;
}

.row:hover .about-list-content,
.row:hover .feat-list-content {
    opacity: .7 !important;
}

.about-list .about-list-content:hover,
.feat-list .feat-list-content:hover {
    opacity: 1 !important;
    border-radius: 5px;
    background: rgba(13, 20, 29, 0.8);
    -webkit-transition: all .35s linear;
    -moz-transition: all .35s linear;
    transition: all .35s linear;
    transform: translateY(0) scale(1.1) !important;
}

.sibling-opacity {
    opacity: .15;
}

.text-center {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mt-50 {
    margin-top: 50px;
}

.vert-center {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 47%;
    transform: translateY(-47%);
}

@keyframes from-right {
    from {
        opacity: 0;
        transform: translateX(-40px)
    }
    to {
        opacity: 1;
        transform: translateX(0)
    }
}


/* =========== Login/Register/Widget Modal =========== */

.widget-modal,
.register-modal,
.login-modal {
    background: rgba(1, 12, 23, .95);
    border: 10px solid rgb(1, 12, 23);
    opacity: 0;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: -100%;
    height: 100%;
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 201;
    visibility: collapse;
}

.widget-modal {
    height: 85vh;
    background: #0d141d;
    border-color: #0d141d;
}

body.modal-open {
    overflow: hidden;
}

.widget-modal-container,
.register-container,
.login-container {
    padding: 3em;
}

.close-m,
.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    cursor: pointer;
}

.close-m:hover,
.close:hover {
    opacity: 1;
}

.close-m:before,
.close-m:after,
.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: white;
}

.close-m:before,
.close:before {
    transform: rotate(45deg);
}

.close-m:after,
.close:after {
    transform: rotate(-45deg);
}

.pad.error-block {
    color: #daa3a3;
    background: rgba(255, 0, 0, 0.3);
    padding: 15px;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}

.pad.information-block {
    color: #b66300;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
    margin: 0 auto;
    max-width: 350px;
    font-weight: bold;
    letter-spacing: 2px;
}

.pad.success-block {
    color: lightgreen;
    font-weight: bold;
    padding: 15px;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}

.login-container .pad.error-block {
    width: 80%;
}

h3.text-center.pad {
    color: #d0d6e2;
    width: 50%;
}

.keyPermissions {
    max-width: 275px;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.6);
    font-size: 13px;
    width: calc(100% - 2em);
}

#register a.keyPermissions-link {
    color: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    font-size: 13px;
    padding-left: 0;
    padding-right: 0;
}

.confirm-withdraw-inner,
.verify-email-inner {
    color: white;
    font-size: 26px;
    width: 350px;
    margin: 0 auto;
}

#register h3.text-center.pad,
#myform h2.text-center.success,
.confirm-withdraw-inner .success,
.verify-email-inner .success {
    color: lightgreen;
    font-weight: bold;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}

.confirm-withdraw-inner .error,
.verify-email-inner .error {
    color: lightcoral;
    font-weight: bold;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}

label {
    margin-bottom: initial;
}

.btn.underline.submit {
    text-align: left;
    font-size: 18px;
}

.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 1em;
    max-width: 350px;
    width: calc(100% - 2em);
    vertical-align: top;
}

#register .input {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.register-checkbox {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    position: relative;
    top: -1px;
    margin-right: 10px;
}

.register-checkbox-label {
    color: white;
    display: block;
    padding-left: 15px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    font-size: 12px;
}

.input--custom {
    overflow: hidden;
    margin-top: 2.5em;
    border-radius: 2px;
}

.input .fa {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    line-height: 35px;
    font-size: 24px;
    /* color: #26b14f; */
    color: #fff;
}

#register .input .fa {
    line-height: 35px;
    font-size: 20px;
}

.input .fa.completed,
.input .fa.completed {
    color: #26b14f;
}

.input-field {
    width: 100%;
    height: 40px;
    background: transparent;
    padding: 0.35em;
    z-index: 100;
    color: #fff;
    border: none;
    box-shadow: none;
    border-bottom: 3px solid #fff;
    border-radius: 0;
    -webkit-appearance: none;
}

.form-group input:placeholder-shown+.fa {
    color: white;
}

input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.4);
}

input:-moz-placeholder {
    color: rgba(255, 255, 255, 0.4);
}

input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.4);
}

input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.4);
}

input::placeholder {
    color: rgba(255, 255, 255, 0.4);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 50000s ease-in-out 0s;
    /* Delays(disables) yellow background on autofill fields */
    -webkit-text-fill-color: #fff !important;
}

.input-field:focus {
    outline: none;
}

.hide {
    display: none;
}


/* =========== Media Queries =========== */

@media (min-width: 1220px) {
    #home h1.headline {
        font-size: 4em;
        padding-bottom: 12px;
        padding-left: 0;
        padding-right: 0;
    }
    .hide-on-v-lg {
        display: none;
    }
}

@media (max-width:1024px) {
    .nav-container {
        margin: 0 auto;
    }
    .only-show-on-xl {
        display: none !important;
    }
    .features h5.subtitle,
    .about h5.subtitle {
        margin-bottom: 1em;
    }
}

@media (max-width: 941px) {
    .feat-list-item {
        width: 90%;
        margin: 0 auto;
    }
    #home .headline {
        margin-bottom: 35px;
        font-size: 3em;
    }
}

@media (min-width: 768px) {
    .only-show-on-mobile {
        display: none !important;
    }
    #home .headline {
        font-size: 5em;
    }
}

@media (max-width:768px) {
    .only-show-on-desktop {
        display: none !important;
    }
    .dot-nav {
        display: none;
    }
    .mb-md-25 {
        margin-bottom: 25px;
    }
    .pad.error-block {
        width: 100%;
    }
    .menu-container {
        margin-top: 25%;
    }
}

@media (max-width: 750px) {
    .feat-row {
        height: auto;
    }
    .feat-col {
        padding-top: 1em
    }
    .content-icon {
        height: 35px;
    }
}

@media (max-width: 671px) {
    .nav {
        text-align: left;
    }
    .nav-container {
        margin: initial;
    }
    .ticker {
        margin-left: 50%;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-name: ticker;
        animation-name: ticker;
        -webkit-animation-duration: 15s;
        animation-duration: 15s;
    }
}

@media (max-width:414px) {
    .mb-sm-0 {
        margin-bottom: 0px;
    }
    .content-icon {
        height: 40px;
        margin-bottom: 15px;
    }
    .feat-list-content,
    .about-list-content {
        padding: 10px;
    }
    .features h5.subtitle,
    .about h5.subtitle {
        margin-bottom: .7em;
    }
    .features h5,
    .features p,
    .about h5,
    .about p {
        font-size: 1em;
    }
    .about h4 {
        font-size: 1.3em;
    }
    #home .headline {
        margin-bottom: 35px;
        font-size: 3em;
    }
    .demo-btn {
        padding: 0;
    }
    #home {
        height: 78vh;
    }
    #ticker-container {
        height: 22vh;
    }
}

@media (max-width:375px) {
    .content-icon {
        height: 35px;
        margin-bottom: 10px;
    }
    .feat-list-content,
    .about-list-content {
        padding: 5px;
    }
    .features h5.subtitle,
    .about h5.subtitle {
        margin-bottom: .5em;
    }
    .features h5,
    .features p,
    .about h5,
    .about p {
        font-size: 0.8em;
    }
    .about h4 {
        font-size: 1.3em;
    }
    #home .headline {
        margin-bottom: 35px;
        font-size: 3em;
    }
    .demo-btn {
        padding: 0;
    }
}

@media (min-width:320px) {
    .show-on-xs {
        display: none;
    }
}


/* Hide Bootstrap Growls on landing page*/

.bootstrap-growl.alert.alert-danger {
    display: none !important;
}

.market-view {
    padding: 50px;
}

.market-view-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.scroll-tabs {
    overflow: auto;
    white-space: nowrap;
}

.market-tab {
    margin-right: 40px;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
}

.market-tab:hover, .market-tab.active {
    color: #42e5f4;
    border-bottom: 1px solid #42e5f4;
}

.search-view {
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.min-search {
    display: none;
}

.search-view input[name='search'] {
    width: 300px;
    height: 40px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: white;
    padding-left: 45px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.search-view .icon{
    position: absolute;
    top: 0%;
    margin-left: 17px;
    margin-top: 10px;
    z-index: 1;
    color: white;
  }

.ReactTable .rt-tbody .rt-td {
    font-family: sans-serif;
}

.increase {
    color: #26b14f;
}

.decrease {
    color: #c4190a;
}

@media (max-width: 1080px) {
    .search-view {
        display: none;
    }
    .min-search {
        display: block;
        height: 50px;
    }
}

.trading-view-chart {
    height: 500px;
}

